@charset "utf-8";
/* 重置*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, input, legend, textarea, select, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; font-family: inherit; font-style: normal; font-weight: normal; background-color:transparent;}
body { font:12px/1.8 "Microsoft YaHei",Tahoma, "SimSun", Arial, sans-serif; }
ol,ul,li {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {	content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
input[type="submit"]{cursor:pointer;}
input:focus{outline: none;}

a{text-decoration:none;color:#333333;transition: color 0.15s ease-in;-o-transition: color 0.15s ease-in;-ms-transition: color 0.15s ease-in;-webkit-transition: color 0.15s ease-in;-moz-transition: color 0.15s ease-in;}
a:hover{color:#c06;}
.ad{ margin:8px 0;}
.ad3-1{}
/* f 通配 */
.float-a {margin: 0 auto;}
.float-l {float: left;}
.float-r {float: right;}
.float-no, .list-pt li a {zoom: 1; }
.float-no:after, .list-pt li a:after {content: "\20"; display: block; height: 0; clear: both; visibility: hidden; }

.display-b {display: block;}
.display-no {display: none;}
.text-l {text-align: left;}
.text-r {text-align: right;}
.text-c {text-align: center;}
.text-no { text-indent: -9999em;} 

.ulnav{}
.ulnav li{float: left;}
.ulnav li a{display: inline-block;font-size:14px;}
.ulnav li.line {color:#ccc;padding: 0px;}
.hhwb{text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}

/* f 共用 */
body{} 
.topbar{background:#FF95CA;color: #fff;height: 45px;line-height: 45px;position: fixed;z-index: 10; top:0px;right: 0px;left: 00px;text-align: center;font-size: 18px;}
.topbar span{position: absolute;height: inherit;top:0px;}
.t-back{left: 0px;}
.t-share{right: 0px;} 
.topbar a{
	top: 0px;
    width: 44px;
    height: 44px;
    position: absolute;
	background: url("/commons/images/top2.png") no-repeat 0% 0% / 46px 184px;}  
/* a.icon-back{background-position: -45px 0px;} */
/* a.icon-share{background-position:0px 0px;} */
/* a.icon-share-clicked{background-color: #E03084;} */
/* a.icon-menu{background-position: -90px 0px;} */
.t-title{} 
.t-title-topic{}

.t-menu{right: 0px;}
.t-sitemap-menu{position: fixed;right: 0px;left: 0px;right: 0px; top: 45px;background:rgba(34, 34, 34, 0.84); font-size: 16px; z-index: 15; display:none}
.t-sitemap-menu li{height: 55px;width: 33.333%;float: left; line-height:55px;text-align: center;}
.t-sitemap-menu li a{height: 100%; padding: 0px 5px 0px 5px; position: relative; display: block; margin: -1px;color: #fff; }
.t-sitemap-menu li a:hover{background: #000;color:#FF0047; }


.list-pt, .lp-view{background: #F7F7F7;color: #777;}
.list-pt li{ padding:0px 10px; }
.list-pt li a{border-top: 1px #fff solid; border-bottom: 1px #ECECEC  solid;display: block; position: relative;padding: 10px 0px; }
.list-pt img{width: 85px;float: left;margin-right: 10px; height:65px;}
.list-pt li.loading-text{text-align: center;line-height: 3em;font-size: 14px;}

.lp-title{display: block;font-size: 18px;text-overflow: ellipsis; overflow: hidden; white-space: nowrap;line-height: 18px;padding-bottom: 8px;}
.lp-sum{display: block;font-size: 12px;line-height: 1.5em;color: #888;}
.lp-view{position: absolute;bottom: 10px;right:0px;font-size: 12px;line-height: 1.45em;color: #B572F3;}

.bottombar{}
.bottombar p{text-align: center;color: #fff;background: #292929;line-height: 40px;}

/* f 页面 index */
.home-nav{top:45px;position: fixed;right: 0px;left: 0px;background: #fff;z-index: 10; }
.home-nav-s{/*top:45px;*/position: fixed;right: 0px;left: 0px;background: #fff;z-index: 10;box-shadow:3px 3px 3px rgba(0,0,0,0.2);	 }
.ch-nav{top:45px;position: fixed;right: 0px;left: 0px;height: 70px;background: #fff;z-index: 10; }
.hn-more{position: absolute;top:0px;right: 0px; height: 40px;width: 45px;line-height: 40px; background:#fff url(../images/icon.png) no-repeat -315px 0px;background-size:320px auto;padding-left: 5px;}
.hn-more a{background: url(../images/icon.png) no-repeat -270px 0px;background-size:320px auto;text-indent: -9999px;display: block;}
.hn-menu{}
.hn-menu ul{ width: 100%;}
.hn-menu ul li{width: 16.11%;}
.hn-menu ul li a{height: 36px;width: 100%;text-align: center; line-height: 40px;padding-bottom: 4px;}
.hn-menu ul li.on a{border-bottom: 4px #FF95CA solid;padding-bottom: 0px;}
.ha-title{ width:100%;  bottom:0px;  height:30px; line-height:30px; color:#fff; background-color:rgba(65, 190, 240, 0.78);font-size: 18px; text-align:center;}
.ch-menu ul{ width: 100%;}
.ch-menu ul li{width: 25%; text-align:center;}
.ch-menu ul li a{height: 30px;width: 100%;text-align: center; line-height: 35px;padding-bottom: 4px;}
.ch-menu ul li.on a{border-bottom: 4px #FF95CA solid;padding-bottom: 0px;}

#banner {width: 100%;height: 210px;overflow: hidden;/*margin-top: 45px;*/position: relative;}
#banner .swiper-slide {position: relative;text-align: center;}
#banner img {max-width: 100%;}
.gallerytitle {
	text-align: center;
	font-size: 1em;
	height: 42px;
	line-height: 42px;
	color: #fafafa;
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	font-weight: normal;
	text-shadow: 1px 1px 1px #000;
	/* background-color: rgba(21,20,20,0.5); */
	background-color: rgba(0,0,0,0);
	background: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.7));
	background: -webkit-gradient(linear, top, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.7)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.7));
	background: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.7));
}
.pagination {position: absolute;z-index: 20;bottom: 10px;width: 66px;text-align: center;right: 0;}
 
.mmyuer_page {margin: auto;display: block;overflow: hidden;text-align: center;padding: 0px 0px 10px 0px;}
.mmyuer_page li{list-style-type:none; display:inline;}
.mmyuer_page a {height: 30px;line-height: 30px;color: #606060;display: inline-block;vertical-align: middle;padding: 0 10px;border: #d6d6d6 1px solid;background: #fff;margin: 0 2px}
.mmyuer_page a:hover {background: #FF95CA;color: #FFFFFF}
.mmyuer_page .thisclass a {background: #FF95CA;color: #FFFFFF}

.home_title{line-height:38px;height:38px;font-size: 16px;color:#ffffff; text-align: center;background:#FF95CA; 
margin-top:5px;margin-left:10px;margin-right:10px;box-shadow: 3px 3px 3px rgba(0,0,0,0.2);}
.home_title a{ color:#FFFFFF}

/* f 页面 topic*/
.th-info{background: #F7F7F7;}
.th-title{font-size: 16px;text-align: center;font-weight: bold;line-height: 2em; }
.th-sum{line-height: 1.6em;padding:10px;font-size: 14px;border-bottom: 2px dotted #eee;}

/* 页面 article*/
.article-content{font-size: 15px;padding: 10px;}
.ac-title{line-height:20px;font-size: 18px;font-weight: bold;padding: 6px 0; color:#4a4a4a; }
.ac-meta{color: #777;font-size: 12px;padding: 0px;margin: 0px;}
.ac-sum { margin: 0px -10px 10px; padding: 10px; background: #FFEFEF; color: #EC3184; }

.article-content p{padding-bottom: 10px; }
.article-content .body strong,.article-content .body strong a{ font-weight:bold;}

.article-content p strong{font-weight: bold;}
.article-content p img,.article-content .img img{max-width: 100%;height: auto;margin: 0px auto;display: block; text-align:center;padding-bottom:10px;}
.article-recom{}
.ar-title{line-height:38px;height:38px;font-size: 16px;color:#ffffff; text-align: center;background:#e47fb2;}
.ar-title a{ color:#FFFFFF}
.ar-list li.ar-more{}
.ar-list li.ar-more a{display: block;background:#23a7df;height: 32px;line-height: 32px;margin: 10px 0px; padding: 0px; min-height: 32px;text-align: center;color: #fff;font-size: 14px;border: 1px #fff solid; border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px}

.c-pagenav{padding-top: 15px;}
.c-pagenav a.disable{ border:1px solid #bbb; color:#bbb;}
.c-pagenav p{text-align: center;position: relative;line-height: 36px;height: 36px;color: #888;font-size: 16px;}
.c-pagenav span{width: 40%;display: inline-block;position: absolute;}
.c-pagenav span a{width: 100%;height: 100%; color:#FF4F95;display: block;font-size: 15px;border-radius: 3px;border: 1px solid #FF4F95; }
.gallery .c-pagenav span a{background:#222;}
.c-pagenav span.prev{left: 0px;}
.c-pagenav span.prev a{}
.c-pagenav span.next{right: 0px;}
.c-pagenav span.next a{} 

/*  页面 gallery*/
.gallery-list{}
.list-gp{padding: 5px;background: #F7F7F7;}
.list-gp li{width: 50%;float:left;}
.list-gp li a{padding: 5px;margin: 5px; display: block;position: relative;background: #fff;}
.list-gp li img{max-width: 100%;height: auto;display: block;margin: 0px auto;}
.list-gp li .gp-title{height: 37px;line-height: 1.6em;margin: 0px;padding: 10px; text-align:center}
.list-gp li .gp-view{position: absolute;background: #fff;right: 0px;left: 0px;bottom: 0px; text-align: center;height: 36px;line-height: 36px;color: #888;}
.list-gp li.loading-text{text-align: center;line-height: 3em;font-size: 14px;width: 100%;}


/*  页面 picture*/
.gallery{background: #000;}
.gallery-content{color: #fff;font-size: 15px;}
.gallery-content .gc-title{font-size: 17px;padding: 12px 10px 12px;font-weight: bold;text-align: center;line-height: 1.3em;} 
.gallery-content p img{max-width: 100%;height: auto;display: block; margin: 0px auto;}
.gallery-content p.gc-text{text-indent: 2em;line-height: 1.6em;padding: 5px 10px 10px;}
.gallery-recom .gr-title{font-size: 16px;color: #fff;height: 38px;line-height: 38px;background:#D5094A;text-align: center;}
.gallery-recom .list-gp{background: transparent;}
.gallery-recom ul li.gr-more{width: 100%;}
.gallery-recom ul li.gr-more a{display: block; background: #23a7df; height: 32px; line-height: 32px; margin: 10px 5px; padding: 0px; min-height: 32px; text-align: center; color: #fff; font-size: 14px; }
.gallery .c-pagenav{padding: 10px 10px 20px;}

#gallery{background: #111;}
#gallery .topbar{background: #222;}
#gallery .list-gp{background: transparent;}
#gallery .list-gp li a{background: #000;color: #fff;}
#gallery .list-gp li .gp-view{background: #000;color: #ccc;}
#gallery .list-gp li.loading-text{color: #868686;}
#gallery .gallery-recom{background: #111;}
.gallery-menu{padding: 4px 0;background: #000;}
.gallery-menu ul{display: block;}
.gallery-menu li{float: left;display: block; width: 25%;height: 30px;line-height: 30px; padding: 2px 0;}
.gallery-menu li a{display: block;margin: 0 2px;text-align: center; color: #fff;}
.gallery-menu li.hot a{color: #FC3192;}  

.cont{padding-left:10px; padding-top:10px; padding-bottom:0px;}
.cont li{ line-height:35px; height:35px;}
.cont i{display:block;font-style:normal;}
.cont .iTit{width:20%;height:25px;margin-right:3px;float:left;font-size:12px;line-height:25px;text-align:center;background:#c1c1c1;}
.cont .iTit a{color:#FFF;}
.cont .iTit a:hover{color:#c06;}
.cont .iDes{background:url(../images/icon.png) no-repeat scroll 0 0 transparent;}
.cont .iDes{padding-left:12px;background-position:-744px -122px; overflow:hidden;}
.cont .iDes a{ float:left;display:block; width:24%; height:25px; line-height:25px; margin-right:2px; text-align:center;background:#eee;}