BODY {
	font-size: 12px; FONT-FAMILY: "ËÎÌו"; BACKGROUND: url(../images/bg_02.jpg) repeat-x; COLOR: #000; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
DIV {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
UL {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
LI {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H1 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H2 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H3 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H4 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H5 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H6 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
IMG {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
P {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
DL {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
DT {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
DD {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
OL {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
TH {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
TD {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
LI {
	LIST-STYLE-TYPE: none
}
FORM {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
BUTTON {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
OPTION {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
TEXTAREA {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
SELECT {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
INPUT {
	FONT: 100% Tahoma,Helvetica,Arial,sans-serif
}
BUTTON {
	FONT: 100% Tahoma,Helvetica,Arial,sans-serif
}
TEXTAREA {
	FONT: 100% Tahoma,Helvetica,Arial,sans-serif
}
SELECT {
	FONT: 100% Tahoma,Helvetica,Arial,sans-serif
}
A {
	TEXT-DECORATION: none; COLOR: #000
}
A:link {
	TEXT-DECORATION: none
}
A:visited {
	TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
A:active {
	TEXT-DECORATION: underline
}
TABLE {
	
}
TH {
	FONT-WEIGHT: normal
}
IMG {
	BORDER-LEFT-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-TOP-WIDTH: 0px
}
.clear {
	OVERFLOW: hidden; HEIGHT: 0px; CLEAR: both
}
#warp {
	WIDTH: 969px; MARGIN: 0px auto
}
#contentid {
	FONT-SIZE: 12px; HEIGHT: 201px; WIDTH: 110px
}
.qqbox {
	OVERFLOW: hidden; HEIGHT: 201px; WIDTH: 110px; RIGHT: 0px; POSITION: absolute; Z-INDEX: 9999; TOP: 80px
}
.qqlv {
	OVERFLOW: hidden; HEIGHT: 136px; WIDTH: 29px; POSITION: relative; FLOAT: right
}
.qqkf {
	OVERFLOW: hidden; HEIGHT: auto; WIDTH: 100px; BACKGROUND: url(../images/qqbg.gif); RIGHT: 0px; PADDING-TOP: 40px; PADDING-LEFT: 10px; Z-INDEX: 99; TOP: 0px
}
.qqkfhm {
	PADDING-BOTTOM: 6px; PADDING-TOP: 6px
}
.qq_number {
	FONT-WEIGHT: bold; COLOR: #000; PADDING-BOTTOM: 0px; PADDING-TOP: 10px; PADDING-LEFT: 6px; PADDING-RIGHT: 0px
}
.header {
	WIDTH: 969px; MARGIN: 0px auto
}
.mininav {
	HEIGHT: 24px; WIDTH: 220px; BACKGROUND: url(../images/min_02.jpg) no-repeat; FLOAT: right; COLOR: #e22670; TEXT-ALIGN: center; LINE-HEIGHT: 24px; PADDING-RIGHT: 23px
}
.mininav A {
	TEXT-DECORATION: none; COLOR: #e22670
}
.mininav A:hover {
	TEXT-DECORATION: underline; COLOR: #e22670
}
.banner {
	HEIGHT: 216px; WIDTH: 965px; CLEAR: both
}
.menu {
	WIDTH: 969px; MARGIN: 0px auto
}
.menu UL {
	
}
.menu UL LI {
	FONT-SIZE: 14px; HEIGHT: 34px; WIDTH: 100px; BACKGROUND: url(../images/menubg.jpg) no-repeat; FLOAT: left; FONT-WEIGHT: bold; COLOR: #da065b; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN-LEFT: 7px; DISPLAY: inline; LINE-HEIGHT: 34px; PADDING-RIGHT: 0px
}
.menu UL LI A {
	TEXT-DECORATION: none; COLOR: #da065b
}
.nav-p {
	POSITION: relative; Z-INDEX: 8
}
.nav-pop {
	WIDTH: 300px; POSITION: absolute; LEFT: 20px; Z-INDEX: 9; DISPLAY: none; TOP: 27px
}
.nav-pop2 {
	WIDTH: 600px; POSITION: absolute; LEFT: -200px; Z-INDEX: 9; DISPLAY: none; TOP: 27px
}
.nav-pop UL {
	
}
.xiala {
	BACKGROUND: url(../images/xialabg_03.jpg) no-repeat 45px 0px; PADDING-TOP: 10px
}
.nav-pop .leftbg {
	HEIGHT: 30px; WIDTH: 7px; BACKGROUND: url(../images/xiala_03.jpg) no-repeat; FLOAT: left
}
.nav-pop .rigbg {
	HEIGHT: 30px; WIDTH: 6px; BACKGROUND: url(../images/xiala_07.jpg) no-repeat; FLOAT: left
}
.nav-pop .cont {
	HEIGHT: 30px; BACKGROUND: url(../images/xiala_05.jpg) repeat-x; FLOAT: left
}
.nav-pop UL LI {
	COLOR: #dd127b; LINE-HEIGHT: 30px
}
.nav-pop UL LI A {
	COLOR: #dd127b
}
.nav-pop UL LI A:hover {
	TEXT-DECORATION: none; BACKGROUND: #ffff99; COLOR: #dd127b
}
.xiala2 {
	BACKGROUND: url(../images/xialabg_03.jpg) no-repeat 260px 0px; PADDING-TOP: 10px
}
.nav-pop2 .leftbg {
	HEIGHT: 30px; WIDTH: 7px; BACKGROUND: url(../images/xiala_03.jpg) no-repeat; FLOAT: left
}
.nav-pop2 .rigbg {
	HEIGHT: 30px; WIDTH: 6px; BACKGROUND: url(../images/xiala_07.jpg) no-repeat; FLOAT: left
}
.nav-pop2 .cont {
	HEIGHT: 30px; BACKGROUND: url(../images/xiala_05.jpg) repeat-x; FLOAT: left
}
.nav-pop2 UL LI {
	COLOR: #dd127b; LINE-HEIGHT: 30px
}
.nav-pop2 UL LI A {
	COLOR: #dd127b
}
.nav-pop2 UL LI A:hover {
	TEXT-DECORATION: none; BACKGROUND: #ffff99; COLOR: #dd127b
}
.bulletin {
	HEIGHT: 38px; BACKGROUND: url(../images/la.gif) no-repeat 11px 8px; PADDING-LEFT: 40px; LINE-HEIGHT: 38px
}
.banner2 {
	HEIGHT: 119px; WIDTH: 964px
}
.middle .slide_imgs {
	
}
.middle .slideItem {
	POSITION: absolute; LEFT: 0px; TOP: 0px; opacity: 1
}
OL#slide-tags-n {
	RIGHT: 4px; POSITION: absolute
}
OL#slide-tags-n LI {
	CURSOR: pointer; HEIGHT: 10px; WIDTH: 16px; BACKGROUND: #fff; FLOAT: left; FONT-WEIGHT: bold; COLOR: #000; PADDING-BOTTOM: 3px; TEXT-ALIGN: center; PADDING-TOP: 3px; PADDING-LEFT: 0px; MARGIN: 5px; DISPLAY: block; PADDING-RIGHT: 0px
}
OL#slide-tags-n LI.selected {
	BACKGROUND: #f00; COLOR: #fff
}
OL#slide-tags-x {
	WIDTH: 100%; BACKGROUND: #ccc; FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-ALIGN: center
}
OL#slide-tags-x A {
	COLOR: #000
}
OL#slide-tags-x A:hover {
	COLOR: #f00
}
#maincontant {
	WIDTH: 969px; MARGIN: 0px auto
}
.section {
	WIDTH: 969px
}
.train {
	WIDTH: 249px; FLOAT: left; MARGIN-RIGHT: 10px
}
.train .title {
	OVERFLOW: hidden; HEIGHT: 38px; WIDTH: 249px
}
.train .cont {
	HEIGHT: 206px; BORDER-RIGHT: #ffb1cf 5px solid; WIDTH: 238px; BORDER-LEFT: #ffb1cf 6px solid
}
.train .botbg {
	OVERFLOW: hidden; HEIGHT: 6px; WIDTH: 249px
}
.admissions {
	WIDTH: 423px; FLOAT: left
}
.admissions .title {
	OVERFLOW: hidden; HEIGHT: 41px; WIDTH: 423px; BACKGROUND: url(../images/zsjz_38.jpg) no-repeat
}
.admissions .title SPAN {
	FLOAT: right; PADDING-TOP: 10px; PADDING-RIGHT: 9px
}
.admissions .title SPAN A {
	TEXT-DECORATION: none; COLOR: #ed2e86
}
.admissions .title SPAN A:hover {
	TEXT-DECORATION: underline; COLOR: #ed2e86
}
.admissions .cont {
	HEIGHT: 203px; BORDER-RIGHT: #ffb1cf 1px solid; WIDTH: 401px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; BORDER-LEFT: #ffb1cf 1px solid; LINE-HEIGHT: 25px; PADDING-RIGHT: 10px; TEXT-INDENT: 24px
}
.admissions .botbg {
	OVERFLOW: hidden; HEIGHT: 6px; WIDTH: 423px
}
.class {
	WIDTH: 276px; FLOAT: right
}
.class .title {
	OVERFLOW: hidden; HEIGHT: 43px; WIDTH: 276px; BACKGROUND: url(../images/kbdt_46.jpg) no-repeat
}
.class .title SPAN {
	FLOAT: right; PADDING-TOP: 14px; PADDING-RIGHT: 9px
}
.class .title SPAN A {
	TEXT-DECORATION: none; COLOR: #ed2e86
}
.class .title SPAN A:hover {
	TEXT-DECORATION: underline; COLOR: #ed2e86
}
.class .cont {
	HEIGHT: auto !important; BORDER-RIGHT: #ffb1cf 1px solid; WIDTH: 264px; PADDING-LEFT: 10px; MIN-HEIGHT: 202px; BORDER-LEFT: #ffb1cf 1px solid; LINE-HEIGHT: 24px
}
.class .cont UL LI {
	WIDTH: 100%; FLOAT: left; LINE-HEIGHT: 26px
}
.class .cont UL LI IMG {
	FLOAT: left
}
.class .cont UL LI A {
	FLOAT: left
}
.class .cont UL LI IMG {
	FLOAT: left; MARGIN: 8px 3px
}
.class .botbg {
	OVERFLOW: hidden; HEIGHT: 6px; WIDTH: 276px
}
.news {
	WIDTH: 249px; FLOAT: left; MARGIN-RIGHT: 10px
}
.news .tilte {
	OVERFLOW: hidden; HEIGHT: 34px; WIDTH: 249px
}
.news .cont {
	HEIGHT: auto !important; BORDER-RIGHT: #ffb1cf 1px solid; WIDTH: 247px; PADDING-TOP: 5px; MIN-HEIGHT: 210px; BORDER-LEFT: #ffb1cf 1px solid
}
.news .cont UL LI {
	BACKGROUND: url(../images/icn_88.jpg) no-repeat 5px 11px; BORDER-BOTTOM: #ccc 1px dashed; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; LINE-HEIGHT: 25px; PADDING-RIGHT: 5px
}
.news .botbg {
	OVERFLOW: hidden; HEIGHT: 5px; WIDTH: 249px
}
.article {
	WIDTH: 423px; FLOAT: left
}
.article .title {
	OVERFLOW: hidden; HEIGHT: 41px; WIDTH: 423px; BACKGROUND: url(../images/rmwz_82.jpg) no-repeat
}
.article .title SPAN {
	FLOAT: right; PADDING-TOP: 14px; PADDING-RIGHT: 9px
}
.article .title SPAN A {
	TEXT-DECORATION: none; COLOR: #ed2e86
}
.article .title SPAN A:hover {
	TEXT-DECORATION: underline; COLOR: #ed2e86
}
.article .cont {
	HEIGHT: auto !important; BORDER-RIGHT: #ffb1cf 1px solid; WIDTH: 407px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px; PADDING-LEFT: 6px; MIN-HEIGHT: 205px; BORDER-LEFT: #ffb1cf 1px solid; PADDING-RIGHT: 8px
}
.article .cont UL LI {
	BACKGROUND: url(../images/icn_88.jpg) no-repeat 14px 11px; BORDER-BOTTOM: #ccc 1px dashed; PADDING-LEFT: 25px; LINE-HEIGHT: 26px
}
.article .cont UL LI SPAN {
	FLOAT: right; COLOR: #ed2e86; PADDING-RIGHT: 10px
}
.article .cont UL LI SPAN A {
	TEXT-DECORATION: none; COLOR: #ed2e86
}
.article .cont UL LI SPAN A:hover {
	TEXT-DECORATION: underline; COLOR: #ed2e86
}
.article .botbg {
	OVERFLOW: hidden; HEIGHT: 5px; WIDTH: 423px
}
.download {
	WIDTH: 276px; FLOAT: right
}
.download .title {
	OVERFLOW: hidden; HEIGHT: 40px; WIDTH: 276px; BACKGROUND: url(../images/zyxz_83.jpg) no-repeat
}
.download .title SPAN {
	FLOAT: right; PADDING-TOP: 14px; PADDING-RIGHT: 9px
}
.download .title SPAN A {
	TEXT-DECORATION: none; COLOR: #ed2e86
}
.download .title SPAN A:hover {
	TEXT-DECORATION: underline; COLOR: #ed2e86
}
.download .cont {
	HEIGHT: auto !important; BORDER-RIGHT: #ffb1cf 1px solid; WIDTH: 274px; PADDING-TOP: 3px; MIN-HEIGHT: 204px; BORDER-LEFT: #ffb1cf 1px solid; LINE-HEIGHT: 26px
}
.download .cont UL LI {
	PADDING-LEFT: 10px; LINE-HEIGHT: 26px
}
.download .cont UL LI A {
	FLOAT: left
}
.download .cont UL LI IMG {
	FLOAT: left; MARGIN: 8px 3px
}
.download .botbg {
	OVERFLOW: hidden; HEIGHT: 6px; WIDTH: 276px
}
.parental {
	WIDTH: 680px; FLOAT: left
}
.parental .title1 {
	OVERFLOW: hidden; HEIGHT: 39px; WIDTH: 680px; BACKGROUND: url(../images/xmzs_120.jpg) no-repeat
}
.parental .title1 SPAN {
	FLOAT: right; PADDING-TOP: 12px; PADDING-RIGHT: 9px
}
.parental .title1 SPAN A {
	TEXT-DECORATION: none; COLOR: #ed2e86
}
.parental .title1 SPAN A:hover {
	TEXT-DECORATION: underline; COLOR: #ed2e86
}
.parental .title {
	OVERFLOW: hidden; HEIGHT: 39px; WIDTH: 680px; BACKGROUND: url(../images/yrzs_120.jpg) no-repeat
}
.parental .title SPAN {
	FLOAT: right; PADDING-TOP: 12px; PADDING-RIGHT: 9px
}
.parental .title SPAN A {
	TEXT-DECORATION: none; COLOR: #ed2e86
}
.parental .title SPAN A:hover {
	TEXT-DECORATION: underline; COLOR: #ed2e86
}
.parental .cont {
	HEIGHT: auto !important; BORDER-RIGHT: #ffb1cf 1px solid; WIDTH: 678px; MIN-HEIGHT: 310px; BORDER-LEFT: #ffb1cf 1px solid
}
.parental .cont UL LI {
	OVERFLOW: hidden; MARGIN-BOTTOM: 5px; HEIGHT: 153px; WIDTH: 328px; FLOAT: left; PADDING-LEFT: 8px
}
.parental .cont UL LI .photo {
	BORDER-TOP: #f9e7c4 1px solid; HEIGHT: 136px; BORDER-RIGHT: #f9e7c4 1px solid; WIDTH: 148px; BORDER-BOTTOM: #f9e7c4 1px solid; FLOAT: left; BORDER-LEFT: #f9e7c4 1px solid; MARGIN-TOP: 12px; DISPLAY: inline; MARGIN-RIGHT: 6px
}
.parental .cont UL LI H3 {
	FONT-SIZE: 14px; WIDTH: 168px; BORDER-BOTTOM: #fdc8e2 2px solid; FLOAT: right; COLOR: #ed2e86; PADDING-TOP: 14px
}
.parental .cont UL LI H3 SPAN {
	FONT-SIZE: 12px; FONT-WEIGHT: normal; COLOR: #ff9700; TEXT-ALIGN: right; PADDING-LEFT: 40px
}
.parental .cont UL LI H3 SPAN A {
	TEXT-DECORATION: none; COLOR: #ff9700
}
.parental .cont UL LI H3 SPAN A:hover {
	TEXT-DECORATION: none; COLOR: #ff9700
}
.parental .cont UL LI .text {
	WIDTH: 168px; FLOAT: right; PADDING-TOP: 5px
}
.parental .cont UL LI .text UL LI {
	HEIGHT: 22px; WIDTH: 148px; BACKGROUND: url(../images/icn_88.jpg) no-repeat 5px 9px; BORDER-BOTTOM: #ccc 1px dashed; PADDING-LEFT: 12px; MARGIN: 0px; LINE-HEIGHT: 22px
}
.parental .botbg {
	OVERFLOW: hidden; HEIGHT: 8px; WIDTH: 680px
}
.answer {
	WIDTH: 276px; FLOAT: right
}
.answer .title {
	OVERFLOW: hidden; HEIGHT: 43px; WIDTH: 276px
}
.answer .cont {
	HEIGHT: auto !important; BORDER-RIGHT: #ffb1cf 1px solid; WIDTH: 264px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px; PADDING-LEFT: 5px; MIN-HEIGHT: 305px; BORDER-LEFT: #ffb1cf 1px solid; LINE-HEIGHT: 22px; PADDING-RIGHT: 5px
}
.answer .cont SPAN {
	COLOR: #e41e79
}
.answer .botbg {
	OVERFLOW: hidden; HEIGHT: 8px; WIDTH: 276px
}
.photoshow .title {
	HEIGHT: 40px; WIDTH: 966px; BACKGROUND: url(../images/tpzs_147.jpg) no-repeat
}
.photoshow .title SPAN {
	FLOAT: right; PADDING-TOP: 16px; PADDING-RIGHT: 9px
}
.photoshow .title SPAN A {
	TEXT-DECORATION: none; COLOR: #ed2e86
}
.photoshow .title SPAN A:hover {
	TEXT-DECORATION: underline; COLOR: #ed2e86
}
.photoshow .cont {
	HEIGHT: auto !important; BORDER-RIGHT: #ffdbeb 6px solid; WIDTH: 954px; PADDING-TOP: 5px; MIN-HEIGHT: 175px; BORDER-LEFT: #ffdbeb 6px solid
}
.scroll {
	WIDTH: 1130px
}
.photoshow .cont UL LI {
	WIDTH: 163px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px
}
.photoshow .cont UL LI .photobox {
	BORDER-TOP: #fae8c4 1px solid; HEIGHT: 140px; BORDER-RIGHT: #fae8c4 1px solid; WIDTH: 161px; BORDER-BOTTOM: #fae8c4 1px solid; BORDER-LEFT: #fae8c4 1px solid
}
.photoshow .cont UL LI .name {
	TEXT-ALIGN: center; LINE-HEIGHT: 30px
}
.photoshow .botbg {
	OVERFLOW: hidden; HEIGHT: 9px; WIDTH: 966px
}
.link {
	PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; LINE-HEIGHT: 25px; PADDING-RIGHT: 10px
}
.link A {
	LINE-HEIGHT: 25px; PADDING-RIGHT: 10px
}
.nav {
	WIDTH: 969px; CLEAR: both
}
.nav .leftbg {
	HEIGHT: 33px; WIDTH: 5px; BACKGROUND: url(../images/nav_171.jpg) no-repeat; FLOAT: left
}
.nav .contbg {
	OVERFLOW: hidden; HEIGHT: 33px; WIDTH: 960px; BACKGROUND: url(../images/navbg_175.jpg) repeat-x; FLOAT: left; LINE-HEIGHT: 33px
}
.nav .contbg UL {
	PADDING-LEFT: 152px
}
.nav .contbg UL LI {
	WIDTH: 90px; FLOAT: left; TEXT-ALIGN: center
}
.nav .contbg UL LI A {
	TEXT-DECORATION: none; COLOR: #fff
}
.nav .contbg UL LI A:hover {
	TEXT-DECORATION: underline
}
.nav .contbg UL LI.line {
	HEIGHT: 33px; WIDTH: 1px; BACKGROUND: url(../images/nav_173.jpg) no-repeat
}
.nav .rigbg {
	HEIGHT: 33px; WIDTH: 4px; BACKGROUND: url(../images/nav_175.jpg) no-repeat; FLOAT: left
}
.address {
	WIDTH: 969px; TEXT-ALIGN: center; PADDING-TOP: 10px; CLEAR: both; LINE-HEIGHT: 24px
}
.side {
	WIDTH: 249px; FLOAT: left; PADDING-BOTTOM: 10px; PADDING-TOP: 5px
}
.nyside {
	WIDTH: 249px; FLOAT: left
}
.nyside .title {
	OVERFLOW: hidden; HEIGHT: 46px; WIDTH: 249px; BACKGROUND: url(../images/title_03.jpg) no-repeat
}
.nyside .title H3 {
	FONT-SIZE: 14px; FONT-WEIGHT: bold; COLOR: #ee3c8e; PADDING-TOP: 16px; PADDING-LEFT: 65px
}
.date {
	PADDING-TOP: 5px; PADDING-LEFT: 10px
}
.nyside .cont {
	HEIGHT: auto !important; BORDER-RIGHT: #ffc2da 1px solid; WIDTH: 247px; MIN-HEIGHT: 100px; BORDER-LEFT: #ffc2da 1px solid
}
.nyside .cont UL LI {
	HEIGHT: 18px; BACKGROUND: url(../images/libg_13.jpg) no-repeat; PADDING-TOP: 18px; PADDING-LEFT: 90px
}
.contact {
	WIDTH: 249px; FLOAT: left
}
.contact .title {
	BORDER-RIGHT: #ffc2da 1px solid; WIDTH: 247px; BORDER-LEFT: #ffc2da 1px solid
}
.contact .title H3 {
	FONT-SIZE: 14px; HEIGHT: 46px; BACKGROUND: url(../images/lxfs_14.jpg) no-repeat; COLOR: #ee3c8e; PADDING-TOP: 18px; PADDING-LEFT: 70px
}
.contact .cont {
	FONT-SIZE: 14px; HEIGHT: 260px; BORDER-RIGHT: #ffc2da 1px solid; WIDTH: 227px; FLOAT: left; PADDING-LEFT: 20px; BORDER-LEFT: #ffc2da 1px solid; LINE-HEIGHT: 25px
}
.contact .botbg {
	OVERFLOW: hidden; HEIGHT: 5px; WIDTH: 249px; CLEAR: both
}
.main {
	WIDTH: 706px; FLOAT: right; PADDING-BOTTOM: 10px
}
.ny_dan {
	WIDTH: 706px
}
.ny_dan .title {
	OVERFLOW: hidden; HEIGHT: 44px; WIDTH: 706px; BACKGROUND: url(../images/main_05.jpg) no-repeat
}
.ny_dan .title H3 {
	FONT-SIZE: 14px; COLOR: #ee3c8e; PADDING-TOP: 20px; PADDING-LEFT: 60px
}
.ny_dan .title SPAN {
	FLOAT: right; COLOR: #ee3c8e; PADDING-TOP: 20px; PADDING-RIGHT: 10px
}
.ny_dan .title SPAN A {
	TEXT-DECORATION: none; COLOR: #ee3c8e
}
.ny_dan .title SPAN A:hover {
	TEXT-DECORATION: underline; COLOR: #ee3c8e
}
.ny_dan .botbg {
	OVERFLOW: hidden; HEIGHT: 5px; WIDTH: 706px; BACKGROUND: url(../images/main_20.jpg) no-repeat
}
.ny_dan .cont {
	HEIGHT: auto !important; BORDER-RIGHT: #ffc2da 1px solid; WIDTH: 704px; MIN-HEIGHT: 430px; BORDER-LEFT: #ffc2da 1px solid; LINE-HEIGHT: 25px
}
.weizhi {
	COLOR: #ee3c8e; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.weizhi A {
	TEXT-DECORATION: none; COLOR: #ee3c8e
}
.weizhi A:hover {
	TEXT-DECORATION: underline; COLOR: #ee3c8e
}
.ny_news {
	HEIGHT: auto !important; BORDER-RIGHT: #ffc2da 1px solid; WIDTH: 684px; PADDING-BOTTOM: 0px; PADDING-TOP: 10px; PADDING-LEFT: 10px; MIN-HEIGHT: 430px; BORDER-LEFT: #ffc2da 1px solid; PADDING-RIGHT: 10px
}
.ny_news UL LI {
	BACKGROUND: url(../images/icn_88.jpg) no-repeat 8px 10px; BORDER-BOTTOM: #ccc 1px dashed; PADDING-LEFT: 20px; LINE-HEIGHT: 25px
}
.ny_news UL LI SPAN {
	FLOAT: right; PADDING-RIGHT: 20px
}
.ny_product {
	HEIGHT: auto !important; BORDER-RIGHT: #ffc2da 1px solid; WIDTH: 696px; PADDING-BOTTOM: 0px; PADDING-TOP: 10px; PADDING-LEFT: 4px; MIN-HEIGHT: 430px; BORDER-LEFT: #ffc2da 1px solid; PADDING-RIGHT: 4px
}
.ny_product UL LI {
	WIDTH: 163px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px
}
.ny_product UL LI .photobox {
	BORDER-TOP: #fae8c4 1px solid; HEIGHT: 140px; BORDER-RIGHT: #fae8c4 1px solid; WIDTH: 161px; BORDER-BOTTOM: #fae8c4 1px solid; BORDER-LEFT: #fae8c4 1px solid
}
.ny_product UL LI .name {
	TEXT-ALIGN: center; LINE-HEIGHT: 30px
}
.page {
	WIDTH: 100%; POSITION: relative; FLOAT: left; PADDING-BOTTOM: 10px; TEXT-ALIGN: center; PADDING-TOP: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.page .prev {
	MARGIN: 0px 10px
}
.page .next {
	MARGIN: 0px 10px
}
.page .num {
	COLOR: #f00; PADDING-BOTTOM: 3px; TEXT-ALIGN: center; PADDING-TOP: 3px; PADDING-LEFT: 7px; PADDING-RIGHT: 7px; BACKGROUND-COLOR: #f0f0f0
}
.page .cur {
	BACKGROUND: #ccc; COLOR: #ff0
}
.page .per {
	POSITION: absolute; LEFT: 0px; TOP: 10px
}
.page .all {
	RIGHT: 0px; POSITION: absolute; TOP: 10px
}
.ny_msg {
	WIDTH: 706px
}
.ny_msg .title {
	OVERFLOW: hidden; HEIGHT: 44px; WIDTH: 706px; BACKGROUND: url(../images/main_05.jpg) no-repeat
}
.ny_msg .title H3 {
	FONT-SIZE: 14px; COLOR: #ee3c8e; PADDING-TOP: 20px; PADDING-LEFT: 60px
}
.ny_msg .title SPAN {
	FLOAT: right; COLOR: #ee3c8e; PADDING-TOP: 20px; PADDING-RIGHT: 10px
}
.ny_msg .title SPAN A {
	TEXT-DECORATION: none; COLOR: #ee3c8e
}
.ny_msg .title SPAN A:hover {
	TEXT-DECORATION: underline; COLOR: #ee3c8e
}
.ny_msg .cont {
	HEIGHT: auto !important; BORDER-RIGHT: #ffc2da 1px solid; WIDTH: 664px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 20px; MIN-HEIGHT: 430px; BORDER-LEFT: #ffc2da 1px solid; LINE-HEIGHT: 25px; PADDING-RIGHT: 20px
}
.ny_msg .cont .bridge {
	TEXT-ALIGN: right; LINE-HEIGHT: 30px
}
.ny_msg .cont .welcome {
	HEIGHT: 45px; WIDTH: 95%; BORDER-BOTTOM: #ccc 1px dashed; TEXT-ALIGN: center; LINE-HEIGHT: 45px
}
.ny_msg .cont .msg_form {
	WIDTH: 500px; PADDING-TOP: 25px; MARGIN: 0px auto
}
.ny_msg .cont .msg_form LI {
	WIDTH: 100%; FLOAT: left; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.ny_msg .cont .msg_form LI .type {
	WIDTH: 100px; FLOAT: left; LINE-HEIGHT: 21px
}
.ny_msg .cont .msg_form LI INPUT {
	HEIGHT: 14px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 0px; LINE-HEIGHT: 14px; PADDING-RIGHT: 0px
}
.ny_msg .cont .msglist {
	WIDTH: 100%
}
.ny_msg .cont .msglist UL {
	BORDER-TOP: #ffc2da 1px solid; BORDER-RIGHT: #ffc2da 1px solid; BORDER-BOTTOM: #ffc2da 1px solid; BORDER-LEFT: #ffc2da 1px solid
}
.ny_msg .cont .msglist LI {
	LINE-HEIGHT: 24px
}
.ny_msg .cont .msglist LI .msg_name {
	BORDER-BOTTOM: #ffc2da 1px solid
}
.ny_msg .botbg {
	OVERFLOW: hidden; HEIGHT: 5px; WIDTH: 706px; BACKGROUND: url(../images/main_20.jpg) no-repeat
}
.detail {
	WIDTH: 696px; MARGIN: 0px auto
}
.detail .titlea {
	FONT-SIZE: 14px; HEIGHT: 40px; BORDER-BOTTOM: #ccc 1px solid; FONT-WEIGHT: bold; TEXT-ALIGN: center; LINE-HEIGHT: 40px
}
.detail .related {
	PADDING-BOTTOM: 6px; TEXT-ALIGN: center; PADDING-TOP: 6px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.detail .related SPAN {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.detail .text {
	PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; LINE-HEIGHT: 23px; PADDING-RIGHT: 10px
}
.detail .text .photo {
	TEXT-ALIGN: center
}
.detail .other {
	WIDTH: 100%; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.detail .other LI {
	LINE-HEIGHT: 24px
}
.detail .print {
	PADDING-BOTTOM: 8px; TEXT-ALIGN: right; PADDING-TOP: 8px; PADDING-LEFT: 0px; CLEAR: both; PADDING-RIGHT: 0px
}
.detail .print A {
	MARGIN-RIGHT: 20px
}
#demox1 {
	HEIGHT: auto; FLOAT: left
}
#demox2 {
	HEIGHT: auto; TEXT-ALIGN: left
}
#demox1 LI {
	LIST-STYLE-TYPE: none; HEIGHT: 22px; BACKGROUND: url(../images/icn_88.jpg) no-repeat 5px 11px; PADDING-BOTTOM: 0px; TEXT-ALIGN: left; PADDING-TOP: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px
}
#demox2 LI {
	LIST-STYLE-TYPE: none; HEIGHT: 22px; BACKGROUND: url(../images/icn_88.jpg) no-repeat 5px 11px; PADDING-BOTTOM: 0px; TEXT-ALIGN: left; PADDING-TOP: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px
}

.font-style{
	font-size:12px;
}
