BODY {
	FONT-SIZE: 12px; COLOR: #838383; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; LINE-HEIGHT: 22px; PADDING-RIGHT: 0px
}
FORM {
	BORDER-LEFT-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px
}
IMG {
	BORDER-LEFT-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-TOP-WIDTH: 0px
}
A {
	TEXT-DECORATION: none; COLOR: #838383
}
A:hover {
	TEXT-DECORATION: underline; COLOR: #838383
}
.cwhite {
	COLOR: #ffffff
}
.nav A {
	FONT-SIZE: 14px; FONT-WEIGHT: bold; COLOR: #ffffff
}
.smallnav A {
	
}
.newslist {
	OVERFLOW: hidden; HEIGHT: 20px; WIDTH: 176px; LINE-HEIGHT: 20px
}
.list {
	OVERFLOW: hidden; HEIGHT: 237px; WIDTH: 190px; FLOAT: left; MARGIN-LEFT: 48px; MARGIN-TOP: 12px; DISPLAY: inline; LINE-HEIGHT: 26px
}
.color1 {
	COLOR: #f01c28
}
.links {
	OVERFLOW: hidden; HEIGHT: 30px; WIDTH: 100px; FLOAT: left; MARGIN-LEFT: 12px; DISPLAY: inline; LINE-HEIGHT: 30px
}
.prolist {
	OVERFLOW: hidden; HEIGHT: 190px; WIDTH: 161px; FLOAT: left; MARGIN-LEFT: 30px; MARGIN-TOP: 12px; DISPLAY: inline; LINE-HEIGHT: 26px
}
.itemlist {
	OVERFLOW: hidden; HEIGHT: 98px; WIDTH: 175px; FLOAT: left; MARGIN-LEFT: 15px; MARGIN-TOP: 17px; DISPLAY: inline
}
.list {
	OVERFLOW: hidden; HEIGHT: 237px; WIDTH: 161px; FLOAT: left; MARGIN-LEFT: 34px; MARGIN-TOP: 12px; DISPLAY: inline; LINE-HEIGHT: 26px
}
