html {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
body {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
div {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
span {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
object {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
iframe {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
h1 {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
h2 {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
h3 {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
h4 {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
h5 {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
h6 {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
p {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
blockquote {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
pre {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
abbr {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
address {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
cite {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
code {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
del {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
dfn {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
em {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
img {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
ins {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
kbd {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
q {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
samp {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
small {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
strong {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
sub {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
sup {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
var {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
b {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
i {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
dl {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
dt {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
dd {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
ol {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
ul {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
li {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
fieldset {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
form {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
label {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
legend {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
table {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
caption {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
tbody {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
tfoot {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
thead {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
tr {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
th {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
td {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
article {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
aside {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
canvas {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
details {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
figcaption {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
figure {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
footer {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
header {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
hgroup {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
menu {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
nav {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
section {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
summary {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
time {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
mark {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
audio {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
video {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%;
}
body {
	color: rgb(51, 51, 51); font-family: Arial, Helvetica,"Î¢ÈíÑÅºÚ"; font-size: 12px; background-size: 320px; -webkit-text-size-adjust: 100%;
}
.cf::after {
	height: 0px; clear: both; font-size: 0px; display: block; visibility: hidden; content: " ";
}
img {
	background: url("data:image/png;base64,ZGF0YTppbWFnZS9wbmc7YmFzZTY0LGlWQk9SdzBLR2dvQUFBQU5TVWhFVWdBQUFHUUFBQUJrQVFNQUFBQktMQWNYQUFBQUJsQk1WRVgvLy8vLy8vOVZmUFZzQUFBQUZFbEVRVlE0aldOZ0dBV2pZQlNNZ2xGQVR3QUFCWGdBQWZtbFhzY0FBQUFBU1VWT1JLNUNZSUk9") no-repeat center rgb(255, 255, 255); border: currentColor; border-image: none; vertical-align: middle;
}
a {
	color: rgb(51, 51, 51); text-decoration: none;
}
a:active {
	color: rgb(170, 170, 170);
}
a:visited {
	color: rgb(170, 170, 170);
}
.fr {
	float: right;
}
.orange {
	color: rgb(255, 120, 0);
}
.green {
	color: rgb(105, 187, 0);
}
.blank {
	color: rgb(51, 51, 51);
}
.red {
	color: rgb(233, 68, 68);
}
.gray {
	color: rgb(153, 153, 153);
}
.text-overflow {
	overflow: hidden; display: block; white-space: nowrap; -ms-word-break: keep-all; -ms-text-overflow: ellipsis;
}
.loading {
	border-width: 2px; border-style: solid; border-color: rgb(68, 136, 233) rgb(240, 240, 240) rgb(240, 240, 240); margin: auto; border-radius: 16px; animation:roll 1s linear infinite; border-image: none; width: 16px; height: 16px; display: block; -webkit-animation: roll 1s linear infinite;
}
