body {
	margin: 0px; padding: 0px; font-family: "Î¢ÈíÑÅºÚ"; font-size: 1em;
}
img {
	border: 0px currentColor; border-image: none;
}
a {
	color: rgb(0, 69, 138); text-decoration: none;
}
a:hover {
	color: rgb(1, 17, 33); text-decoration: none;
}
.header_main {
	height: 167px;
}
.header_logo_bg {
	background: url("../images/bglogo.jpg") repeat-x; height: 70px; min-width: 320px;
}
.header_logo {
	margin: 0px auto; width: 310px; padding-left: 10px;
}
.header_nav_bg {
	background: url("../images/bgnav.jpg") repeat-x; height: 97px; min-width: 320px;
}
.header_nav {
	margin: 0px auto; height: 33px; line-height: 33px; clear: both; min-width: 320px;
}
.header_nav a {
	width: 19.68%; text-align: center; color: rgb(255, 255, 255); float: left; display: block; min-width: 60px;
}
.header_nav a:hover {
	color: rgb(255, 255, 255);
}
.header_nav div {
	background: url("../images/navslip.png") repeat-x; width: 1px; height: 17px; margin-top: 7px; float: left;
}
.icon-new {
	background: url("../images/icon-new.png") no-repeat right top;
}
.hot_top1 {
	padding: 14px 0px 8px;
}
.hot_top_big {
	margin: 0px auto; height: 1.3em; text-align: center; color: rgb(109, 16, 26); line-height: 1.3em; font-size: 132%; font-weight: bold; display: block;
}
.hot_top_small {
	margin: 7px auto 3px; height: 1.5em; text-align: center; color: rgb(69, 69, 69); line-height: 1.5em; font-size: 90%; display: block;
}
.hot_img {
	text-align: center; text-decoration: none; display: block;
}
.hot_list li {
	list-style: none; padding: 0px 13px; height: 30px; line-height: 30px; border-bottom-color: rgb(237, 238, 240); border-bottom-width: 1px; border-bottom-style: solid;
}
.hot_list li:last-child {
	border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
.hot_list div {
	background: url("../images/hoticon.png") no-repeat right; width: 98%;
}
.hot_list a {
	color: rgb(51, 72, 91); display: block;
}
.bar_nav {
	background: url("../images/subtitlebg.png") repeat-x; height: 36px;
}
.bar_nav_main {
	padding: 0px 1em; height: 36px; color: rgb(0, 0, 0); line-height: 36px; font-size: 124%; float: left;
}
.bar_nav_list {
	margin: 0px; height: 36px; color: rgb(105, 106, 110); line-height: 36px; padding-right: 0px; font-weight: bold; float: right; display: block;
}
.bar_nav_list li {
	list-style: none; width: 3em; height: 36px; text-align: center; line-height: 36px; float: left; cursor: pointer;
}
.on {
	background: url("../images/on2.png") no-repeat bottom;
}
.on {
	color: rgb(0, 145, 212);
}
.on * {
	color: rgb(0, 145, 212);
}
.yw_top_big {
	margin: 0px auto; width: 97%; height: 48px; text-align: center; color: rgb(109, 16, 26); line-height: 48px; font-size: 132%; font-weight: bold; border-bottom-color: rgb(205, 205, 205); border-bottom-width: 1px; border-bottom-style: solid; display: block;
}
.nav_content_list {
	overflow: hidden; white-space: nowrap; position: relative; transform: translate3d(0px, 0px, 0px); -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0);
}
.nav_content_list .nav_content_item {
	overflow: hidden; vertical-align: top;
}
.news_list li {
	margin: 0px auto; width: 90%; border-bottom-color: rgb(237, 238, 240); border-bottom-width: 1px; border-bottom-style: solid;
}
.news_list li:last-child {
	border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
.news_list {
	margin: 5px auto; padding: 0px 2px; overflow: hidden; clear: both;
}
.news_list li {
	list-style: none; padding: 6px 8px; overflow: hidden; position: relative;
}
.news_list p {
	list-style: none; padding: 6px 8px; overflow: hidden; position: relative;
}
.news_list li a:only-child {
	display: block;
}
.news_list p a:only-child {
	display: block;
}
.news_list li a {
	float: left;
}
.news_picstr_main {
	margin: 0px auto; width: 270px;
}
.news_str_box {
	margin: 10px auto; width: 100%; overflow: hidden; min-width: 145px;
}
.news_str_box_t {
	margin: 0px 10px 0px auto; border: 1px solid rgb(105, 106, 110); border-image: none; width: 103px; height: 128px; overflow: hidden; float: left; display: table; max-height: 128px; max-width: 103px; background-color: rgb(222, 222, 222);
}
.news_str_box_te {
	text-align: center; vertical-align: middle; display: table-cell;
}
.news_str_box img {
	margin: 0px auto; vertical-align: middle; max-height: 128px; max-width: 103px;
}
.news_str_title {
	color: rgb(1, 26, 48); line-height: 1.5em; clear: both; font-size: 120%; font-weight: bold; white-space: normal;
}
.news_str_content {
	color: rgb(105, 106, 110); line-height: 1.7em; font-size: 88%; white-space: normal;
}
.list_title_l {
	color: rgb(51, 72, 91); float: left; display: block;
}
.list_em_r {
	color: rgb(131, 131, 131); font-size: 90%; font-style: normal; float: right; display: block;
}
.img_boxs {
	padding: 8px 4px; text-align: center; line-height: 160%; overflow: hidden; clear: both; font-size: 90%; position: relative;
}
.img_boxs li {
	width: 50%; height: 182px; text-align: center; display: inline-block; white-space: normal; min-width: 106px;
}
.img_boxs a {
	color: rgb(108, 108, 108);
}
.imgboxpic {
	border-radius: 4px; border: 1px solid rgb(136, 136, 136); border-image: none; width: 130px; height: 130px; overflow: hidden; display: inline-block; background-color: rgb(221, 221, 221); -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.imgboxpic div {
	margin: 0px auto; width: 130px; height: 130px; text-align: center; overflow: hidden; display: table; max-height: 130px; max-width: 130px;
}
.imgboxpic a {
	vertical-align: middle; display: table-cell;
}
.imgboxpic img {
	vertical-align: middle; max-height: 130px; max-width: 130px;
}
.imgboxtext {
	margin: 0px auto; width: 130px; text-align: left;
}
.imgScroller {
	margin: 0px auto; width: 310px; height: 148px; overflow: hidden; clear: both; position: relative;
}
#scroller .img_box {
	text-align: center; position: relative;
}
.img_indicator {
	margin-top: -5px;
}
.img_indicator .img_dot {
	background: rgb(0, 0, 0); height: 7px; overflow: hidden; float: left;
}
.img_indicator .active {
	background: rgb(1, 91, 187);
}
.tplf {
	background: rgb(105, 106, 110); border-radius: 9px; width: 18px; height: 18px; color: rgb(255, 255, 255); line-height: 18px; font-size: 76%; display: inline-block;
}
.on .tplf {
	color: rgb(255, 255, 255); background-color: rgb(0, 145, 212);
}
.class_header_main {
	height: 70px;
}
.class_header_pic {
	margin: 0px auto; width: 320px; height: 70px; min-width: 320px;
}
.class_header_nav {
	margin: 0px auto; width: 100%; height: 47px; text-align: center; line-height: 47px; border-bottom-color: rgb(148, 169, 170); border-bottom-width: 1px; border-bottom-style: dotted; background-color: rgb(238, 238, 238);
}
.class_header_nav a {
	color: rgb(100, 0, 9); font-size: 124%;
}
.class_text span {
	height: 38px; color: rgb(235, 234, 232); line-height: 54px; font-size: 124%; font-weight: bolder; margin-top: 20px; display: inline-block; text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
}
.class_text img {
	margin: 0px 0px 0px 10px;
}
.page_bar {
	margin: 3px 8px 9px; text-align: center; line-height: 28px;
}
.page_btn {
	background: 0px 0px rgb(232, 232, 232); padding: 0px 8px; border-radius: 5px; border: 1px solid rgb(203, 203, 203); border-image: none; height: 28px; text-align: center; color: rgb(203, 203, 203); line-height: 28px; font-size: 96%; font-weight: bold; text-decoration: none; display: inline-block; -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
.page_btn:hover {
	color: rgb(204, 204, 204); text-decoration: none;
}
.page_btn:active {
	background-color: rgb(232, 232, 232);
}
.page_bar a:first-of-type {
	float: left;
}
.page_bar a:last-of-type {
	float: right;
}
.page_active {
	background: 0px 0px rgb(236, 241, 255); padding: 0px 8px; border-radius: 5px; border: 1px solid rgb(183, 201, 229); border-image: none; height: 28px; text-align: center; color: rgb(56, 87, 149); line-height: 28px; font-size: 96%; text-decoration: none; display: inline-block; -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
.page_active:hover {
	color: rgb(112, 0, 58); text-decoration: none;
}
.article_header_main {
	
}
.article_nav {
	background: url("../images/article_header_bg.jpg") repeat-x; height: 41px;
}
.article_nav_home {
	height: 41px; padding-left: 10px; float: left;
}
.article_nav_next {
	height: 41px; float: left;
}
.article_nav_text {
	padding: 0px 6px; text-align: center; color: rgb(255, 255, 255); line-height: 41px; float: left;
}
.article_nav_text a {
	padding: 0px 6px; text-align: center; color: rgb(255, 255, 255);
}
.article_nav_page_conf_btn {
	height: 41px; padding-right: 14px; float: right; cursor: pointer;
}
.page_conf {
	background: url("../images/article_conf_bg.jpg") repeat-x; height: 41px; line-height: 41px; display: none;
}
.color_btn {
	padding-left: 30px; float: left;
}
.color_btn a {
	width: 20px; height: 20px; float: left; display: block;
}
.white {
	margin: 10px auto; background-color: rgb(255, 255, 255);
}
.gray {
	margin: 10px 0px 10px 30px; background-color: rgb(153, 153, 153);
}
.black {
	margin: 10px 0px 10px 30px; background-color: rgb(0, 0, 0);
}
.font_size_btn {
	padding-right: 28px; float: right;
}
.font_size_btn a {
	width: 18px; height: 18px; color: rgb(255, 255, 255); font-weight: bold; text-decoration: none; float: right; display: block;
}
.font_big {
	font-size: 100%; margin-left: 30px;
}
.font_small {
	font-size: 80%;
}
.article_title {
	margin: 20px auto 4px; text-align: center; color: rgb(112, 41, 21); font-size: 116%; font-weight: bold;
}
.article_info {
	margin: 0px auto; width: 90%; height: 32px; text-align: center; color: rgb(132, 132, 132); line-height: 32px; font-size: 88%; border-bottom-color: rgb(205, 205, 205); border-bottom-width: 1px; border-bottom-style: solid;
}
.article_content {
	padding: 17px 8px 0px; line-height: 1.8em; font-size: 100%;
}
.article_content p {
	text-indent: 2em;
}
.shadow_text {
	text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
}
.xgxw_list {
	
}
.xgxw_list li {
	list-style: none; height: 35px; line-height: 35px; padding-right: 0.7em; padding-left: 0.7em; font-size: 100%; border-bottom-color: rgb(205, 205, 205); border-bottom-width: 1px; border-bottom-style: solid;
}
.xgxw_list li:last-child {
	border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
.xgxw_list a {
	color: rgb(7, 88, 154); display: inline-block;
}
.xgxw_sub {
	border-width: 1px; border-style: solid; border-color: rgb(209, 209, 209) rgb(225, 225, 225) rgb(225, 225, 225) rgb(209, 209, 209); padding: 0px 0.5em; border-radius: 10px; height: 19px; text-align: center; color: rgb(173, 173, 173); line-height: 19px; margin-top: 8px; float: right; background-color: rgb(233, 233, 233); -webkit-border-radius: 10px; -moz-border-radius: 10px;
}
.input_btn {
	padding: 0px 12px; border-radius: 7px; border: 1px solid rgb(162, 162, 162); border-image: none; height: 25px; line-height: 25px; font-size: 96%; box-shadow: inset 0px -1px 3px rgba(243,243,243,1); background-color: rgb(255, 255, 255); -webkit-border-radius: 7px; -moz-border-radius: 7px; -webkit-box-shadow: inset 0 -1px 3px rgba(243, 243, 243, 1); -moz-box-shadow: inset 0 -1px 3px rgba(243, 243, 243, 1);
}
.xgxw_img_list li {
	margin: 8px 10px; width: 127px; font-size: 88%; display: inline-block;
}
.nav_header_main {
	background: url("../images/nav_bg.jpg") repeat-x; width: 100%; height: 52px; line-height: 52px;
}
.nav_header_text {
	text-align: center; color: rgb(255, 255, 255); font-size: 110%; font-weight: bolder; margin-right: 86px; float: right; text-shadow: 1px 1px 2px rgba(0,0,0,1);
}
.home_icon {
	margin: 8px 0px 0px 31px; height: 26px; float: left;
}
.nav_title {
	margin: 17px auto 0px; width: 80%; height: 24px; line-height: 24px; padding-left: 3em; border-bottom-color: rgb(208, 212, 213); border-bottom-width: 1px; border-bottom-style: dashed; background-color: rgb(235, 235, 235);
}
.nav_list {
	margin: 0px auto; width: 80%; line-height: 30px; padding-left: 1.2em; border-bottom-color: rgb(208, 212, 213); border-bottom-width: 1px; border-bottom-style: dashed;
}
.nav_list a {
	padding: 0px 0.3em; color: rgb(14, 99, 182); display: inline-block;
}
.comment_head_bg {
	background: url("../images/commentbg.jpg") repeat-x; height: 52px;
}
.comment_head {
	margin: 0px auto; width: 320px; height: 52px;
}
.comment_home {
	background: url("../images/commentflag.png") no-repeat right; width: 72px; height: 52px; text-align: center; line-height: 52px; float: left; display: block;
}
.comment_home img {
	margin-top: 15px;
}
.comment_text {
	background: url("../images/commentflag.png") no-repeat right; width: 179px; height: 52px; text-align: center; color: rgb(255, 255, 255); line-height: 52px; font-size: 121%; font-weight: bolder; float: left;
}
.comment_link {
	width: 69px; height: 52px; text-align: center; color: rgb(255, 255, 255); line-height: 52px; font-size: 121%; font-weight: bolder; text-decoration: none; float: right; text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
}
.comment_link:hover {
	color: rgb(255, 255, 255);
}
.comment_main {
	margin: 0px auto; padding: 15px 20px; width: 280px;
}
.comment_title {
	width: 100%; height: 26px; color: rgb(0, 0, 0); line-height: 26px; font-size: 90%; font-weight: bolder; background-color: rgb(235, 235, 235);
}
.comment_bar {
	height: 20px; line-height: 20px; margin-top: 5px;
}
.comment_zz {
	height: 20px; color: rgb(122, 122, 122); line-height: 20px; font-size: 90%; float: left;
}
.comment_addr {
	height: 20px; color: rgb(122, 122, 122); line-height: 20px; font-size: 90%; float: left;
}
.comment_time {
	height: 20px; color: rgb(122, 122, 122); line-height: 20px; font-size: 90%; float: right;
}
.comment_texts {
	padding: 3px; line-height: 24px; text-indent: 2em; font-size: 90%;
}
.recommend_list > .recommend_each_list {
	margin: 0px; padding: 0px; border-bottom-color: rgb(122, 122, 122); border-bottom-width: 1px; border-bottom-style: dotted;
}
.recommend_list > p:last-child {
	border: 0px currentColor; border-image: none;
}
.input_div {
	margin: 14px auto;
}
.recommend {
	height: 112px; padding-top: 10px;
}
.recommend_area {
	padding: 10px; border-radius: 7px; border: 1px solid rgb(231, 232, 234); border-image: none; width: 270px; height: 40px; box-shadow: inset 0px 1px 3px rgba(0,0,0,0.5); -webkit-border-radius: 7px; -moz-border-radius: 7px; -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, .5); -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, .5);
}
.load_more_btn {
	background: url("../images/more_down_icon.png") no-repeat 12px rgb(255, 255, 255); border-radius: 6px; border: 1px solid rgb(162, 162, 162); border-image: none; width: 100%; height: 30px; line-height: 30px; font-size: 96%; font-weight: bolder; box-shadow: inset 0px -8px 8px rgba(236,241,255,0.74), inset 0px -15px 15px rgba(221,231,248,0.74); -webkit-border-radius: 6px; -moz-border-radius: 6px; -webkit-box-shadow: inset 0px -8px 8px rgba(236, 241, 255, .74), inset 0px -15px 15px rgba(221, 231, 248, 0.74); -moz-box-shadow: inset 0px -8px 8px rgba(236, 241, 255, .74), inset 0px -15px 15px rgba(221, 231, 248, 0.74); -o-border-radius: 6px;
}
.recommend_list {
	margin: 0px auto; width: 90%;
}
.content_main {
	overflow: hidden; min-width: 320px;
}
.news_list li {
	padding: 6px 0px; width: 100%; border-bottom-color: rgb(187, 188, 191); border-bottom-width: 1px; border-bottom-style: dashed;
}
.news_list li a:hover {
	color: rgb(1, 17, 33); text-decoration: none;
}
.news_list li a:active {
	color: rgb(1, 17, 33); text-decoration: none;
}
.news_list li a {
	color: rgb(51, 72, 91); line-height: 26px; padding-left: 13px; font-size: 18px;
}
.news_list li em {
	line-height: 26px; padding-right: 13px;
}
#displaypagenum {
	height: 100%; overflow: visible;
}
#displaypagenum a:hover {
	border: 1px solid rgb(0, 175, 240); border-image: none;
}
#displaypagenum a:active {
	border: 1px solid rgb(0, 175, 240); border-image: none;
}
#displaypagenum .ptfontcon {
	font-weight: bold;
}
#displaypagenum span {
	padding: 0.2em 0.9em; border-radius: 25px; color: rgb(0, 120, 202); line-height: 30px; font-size: 16px; margin-bottom: 5px; display: inline-block; -webkit-border-radius: 25px; -moz-border-radius: 25px;
}
#displaypagenum a {
	padding: 0.2em 0.9em; border-radius: 25px; color: rgb(0, 120, 202); line-height: 30px; font-size: 16px; margin-bottom: 5px; display: inline-block; -webkit-border-radius: 25px; -moz-border-radius: 25px;
}
#displaypagenum .pagefontcon {
	padding: 0.2em 0.9em; border-radius: 25px; color: rgb(0, 120, 202); line-height: 30px; font-size: 16px; margin-bottom: 5px; display: inline-block; -webkit-border-radius: 25px; -moz-border-radius: 25px;
}
#displaypagenum .ptfontcon {
	padding: 0.2em 0.9em; border-radius: 25px; color: rgb(0, 120, 202); line-height: 30px; font-size: 16px; margin-bottom: 5px; display: inline-block; -webkit-border-radius: 25px; -moz-border-radius: 25px;
}
#displaypagenum a {
	border: 1px solid rgb(162, 197, 211); border-image: none;
}
#displaypagenum span.pagefontcon {
	background: #FF95CA; border: 1px solid #FF95CA; border-image: none; color: rgb(255, 255, 255) !important; line-height: 30px;
}
#displaypagenum span.ptfontcon {
	display: none;
}
.nav_header_wrap {
	height: 50px;
}
.nav_header_left {
	background: #FF95CA; width: 60px; height: 50px; text-align: center; display: block;
}
.nav_header_right {
	background: #FF95CA; width: 60px; height: 50px; text-align: center; display: block;
}
.nav_header_left {
	/*background: url("../images/header_nav_border.jpg") repeat-y right #FF95CA;×ó±ßÐ¡*/ width: 105px; float: left;
}
.nav_header_left:hover {
	/*background: url("../images/header_nav_border.jpg") no-repeat right rgb(1, 123, 202);*/
	background:#C44949;
}
.nav_header_left:focus {
	/*background: url("../images/header_nav_border.jpg") no-repeat right rgb(1, 123, 202);*/
}
.nav_header_right {
	/*background: url("../images/header_nav_border.jpg") no-repeat left #FF95CA; ×îÐÂ¶¯Ì¬ÓÒ±ßÐ¡*/float: right;
}
.nav_header_right:hover {
	/*background: url("../images/header_nav_border.jpg") no-repeat left rgb(1, 123, 202);*/
	background:#C44949;
}
.nav_header_right:focus {
	background:#C44949;
	/*background: url("../images/header_nav_border.jpg") no-repeat left rgb(1, 123, 202);*/
}
.nav_header_left img {
	padding: 0px 5px;
}
.nav_header_right img {
	padding-top: 17px;
}
.nav_header_center {
	background: #FF95CA; height: 50px; text-align: center; color: rgb(255, 255, 255); line-height: 50px; font-family: "Î¢ÈíÑÅºÚ"; font-size: 18px; display: block;
}
.nav_header_center:hover {
	color: rgb(255, 255, 255); text-decoration: none;
}
.nav_header_center:focus {
	color: rgb(255, 255, 255); text-decoration: none;
}
.sports {
	width: 100%; padding-bottom: 10px; display: table;
}
.sports .sports_div {
	padding: 1em 2% 0.5em; width: 45%; text-align: center; float: left;
}
.sports .sports_div .sport_half {
	margin: 0px auto; width: 146px; height: 120px;
}
.sports .sports_div .sport_half a {
	width: 142px; height: 96px; overflow: hidden; display: block;
}
.sports .sports_div .sport_half img {
	
}
.sports .sports_div .sport_half span.sport_title {
	padding: 3px 0px; width: 146px; text-align: center; display: block;
}
.sports .sports_div .sport_half span.sport_title a {
	height: 20px; color: rgb(108, 108, 108); line-height: 20px; font-size: 14px;
}
.sports .sports_div .sport_half span.sport_title a:hover {
	color: rgb(3, 31, 57); text-decoration: none;
}
