.icons {
	background-image: url("../images/sprites.png"); background-repeat: no-repeat; background-color: rgba(0, 0, 0, 0); _background-image: url(../images/sprites_8.png);
}
.share-items a {
	font-size: 0px; margin-right: 20px;
}
.share-items i {
	transition:background 0.3s cubic-bezier(0.17, 0.67, 0.88, 1.25), color 0.2s linear; width: 36px; height: 36px; display: inline-block; -webkit-transition: background .3s cubic-bezier(.17, .67, .88, 1.25), color .2s linear; -moz-transition: background .3s cubic-bezier(.17, .67, .88, 1.25), color .2s linear; -o-transition: background .3s cubic-bezier(.17, .67, .88, 1.25), color .2s linear;
}
.share-items-ntes i {
	background-position: 0px -51px;
}
.share-items-sina i {
	background-position: -56px -51px;
}
.share-items-qq i {
	background-position: -112px -51px;
}
.share-items-ntes:hover i {
	background-position: 0px -100px;
}
.share-items-sina:hover i {
	background-position: -56px -100px;
}
.share-items-qq:hover i {
	background-position: -112px -100px;
}
.share-join-item {
	position: relative; _z-index: 2;
}
.share-join-item ul {
	border: 1px solid rgb(205, 205, 205); border-image: none; top: 5px; width: 146px; right: 0px; display: none; position: absolute; z-index: 999; background-color: rgb(255, 255, 255); _z-index: 2;
}
.share-menu {
	background: url("../images/news_share1.png") no-repeat 0px -2px; width: 63px; height: 20px; line-height: 1000px; overflow: hidden; display: block; cursor: pointer; _background: url(../images/news_share1_8.png) no-repeat 0 -2px;
}
.share-join .pl30 {
	padding-left: 30px;
}
.news_tie {
	padding: 0px 20px; height: 20px; color: rgb(136, 136, 136); font-size: 12px;
}
.news_tie .join_num {
	background: url("../images/news_tie.png") no-repeat 0px 1px; transition:background 0.3s cubic-bezier(0.17, 0.67, 0.88, 1.25), color 0.2s linear; height: 24px; color: rgb(136, 136, 136); padding-left: 28px; display: block; -webkit-transition: background .3s cubic-bezier(.17, .67, .88, 1.25), color .2s linear; -moz-transition: background .3s cubic-bezier(.17, .67, .88, 1.25), color .2s linear; -o-transition: background .3s cubic-bezier(.17, .67, .88, 1.25), color .2s linear; _background: url(../images/news_tie_8.png) 0 1px no-repeat;
}
.news_tie a.join_num:hover {
	background-position: 0px -63px; color: rgb(83, 161, 147);
}
.join_keys {
	margin-left: -10px; float: left; display: inline;
}
.join_keys a {
	background: rgb(255, 164, 56); padding: 0px 12px; height: 20px; color: rgb(255, 255, 255); line-height: 20px; overflow: hidden; margin-left: 10px; float: left; display: inline;
}
.join_keys a:hover {
	background: rgb(255, 108, 0); color: rgb(255, 255, 255); text-decoration: none;
}
.share-tab-ntes {
	margin: 0px 15px; padding: 6px 0px;
}
.share-tab-sina {
	margin: 0px 15px; padding: 6px 0px;
}
.share-tab-qq {
	margin: 0px 15px; padding: 6px 0px;
}
.share-tab-renren {
	margin: 0px 15px; padding: 6px 0px;
}
.share-tab-youdao {
	margin: 0px 15px; padding: 6px 0px;
}
.share-tabs a {
	transition:background 0.3s cubic-bezier(0.17, 0.67, 0.88, 1.25), color 0.2s linear; line-height: 24px; padding-left: 30px; margin-right: 9px; display: block; -webkit-transition: background .3s cubic-bezier(.17, .67, .88, 1.25), color .2s linear; -moz-transition: background .3s cubic-bezier(.17, .67, .88, 1.25), color .2s linear; -o-transition: background .3s cubic-bezier(.17, .67, .88, 1.25), color .2s linear;
}
.share-tabs a:hover {
	text-decoration: none;
}
.share-tab-ntes a {
	background-position: 0px -630px; background-image: url("../images/sprites2.0.png");
}
.share-tab-sina a {
	background-position: 0px -330px;
}
.share-tab-qq a {
	background-position: 0px -390px;
}
.share-tab-renren a {
	background-position: 0px -450px;
}
.share-tab-youdao a {
	background-position: 0px -510px;
}
.share-tab-ntes a:hover {
	background-position: 0px -660px;
}
.share-tab-sina a:hover {
	background-position: 0px -360px;
}
.share-tab-qq a:hover {
	background-position: 0px -420px;
}
.share-tab-renren a:hover {
	background-position: 0px -480px;
}
.share-tab-youdao a:hover {
	background-position: 0px -540px;
}
.border-bottom-dotted {
	border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: dotted;
}
.share_tab_hover .share-menu {
	background-position: 0px -55px; transition:background 0.3s cubic-bezier(0.17, 0.67, 0.88, 1.25), color 0.2s linear; -webkit-transition: background .3s cubic-bezier(.17, .67, .88, 1.25), color .2s linear; -moz-transition: background .3s cubic-bezier(.17, .67, .88, 1.25), color .2s linear; -o-transition: background .3s cubic-bezier(.17, .67, .88, 1.25), color .2s linear;
}
.share_tab_last_hover .share-menu {
	background-position: 0px -55px; transition:background 0.3s cubic-bezier(0.17, 0.67, 0.88, 1.25), color 0.2s linear; -webkit-transition: background .3s cubic-bezier(.17, .67, .88, 1.25), color .2s linear; -moz-transition: background .3s cubic-bezier(.17, .67, .88, 1.25), color .2s linear; -o-transition: background .3s cubic-bezier(.17, .67, .88, 1.25), color .2s linear;
}
.share_tab_hover .share-join-item ul {
	display: block;
}
.share_tab_last_hover .share-menu {
	background-position: 0px -120px;
}
.share_tab_last_hover .share-join-item ul {
	top: -217px; display: block;
}
.clearfix {
	
}
.area {
	
}
.header {
	
}
.footer {
	
}
.area-sub {
	
}
.area-main {
	
}
.clearfix::after {
	height: 0px; overflow: hidden; clear: both; display: block; visibility: hidden; content: ".";
}
.area::after {
	height: 0px; overflow: hidden; clear: both; display: block; visibility: hidden; content: ".";
}
.header::after {
	height: 0px; overflow: hidden; clear: both; display: block; visibility: hidden; content: ".";
}
.footer::after {
	height: 0px; overflow: hidden; clear: both; display: block; visibility: hidden; content: ".";
}
.area-sub::after {
	height: 0px; overflow: hidden; clear: both; display: block; visibility: hidden; content: ".";
}
.area-main::after {
	height: 0px; overflow: hidden; clear: both; display: block; visibility: hidden; content: ".";
}
.clear {
	height: 1px; overflow: hidden; clear: both; display: block;
}
h1 {
	font-weight: normal;
}
h2 {
	font-weight: normal;
}
h3 {
	font-weight: normal;
}
h4 {
	font-weight: normal;
}
h5 {
	font-weight: normal;
}
h6 {
	font-weight: normal;
}
.area {
	margin: 0px auto; width: 960px;
}
a {
	color: rgb(37, 37, 37);
}
a:hover {
	color: rgb(186, 38, 54); text-decoration: none;
}
.edu_news_list .news_one {
	padding: 25px 0px; height: 125px; border-bottom-color: rgb(234, 234, 234); border-bottom-width: 1px; border-bottom-style: solid;
}
.edu_news_list .news_one:hover {
	background: rgb(245, 245, 245);
}
.edu_news_list .pic_link {
	width: 180px; height: 125px; overflow: hidden; margin-right: 24px; float: left; display: none; position: relative;
}
.edu_news_list .ico_special {
	background: url("../images/news_type.png") no-repeat; left: 0px; top: 0px; width: 62px; height: 26px; overflow: hidden; display: block; position: absolute; z-index: 1;
}
.edu_news_list .news_main_info h2 {
	height: 24px; line-height: 24px; overflow: hidden; font-family: "Microsoft YaHei","Î¢ÈíÑÅºÚ","ËÎÌå",sans-serif; font-size: 18px; font-weight: bold; margin-bottom: 10px;
}
.edu_news_list .news_main_info h2 a:hover {
	text-decoration: underline;
}
.edu_news_list .news_main_info .pubtime {
	margin: -1px 0px 7px; color: rgb(136, 136, 136);
}
.edu_news_list .news_main_info p {
	height: 65px; color: rgb(102, 102, 102); line-height: 20px; overflow: hidden;
}
.edu_news_list .news_sub_info {
	height: 20px; line-height: 20px; margin-top: 5px;
}
.edu_news_list .news_sub_info .share-join-tab {
	float: right; display: inline; _width: 63px;
}
.edu_news_list .news_sub_info .news_tie {
	float: right; _width: 65px;
}
.edu_news_list .havepic .pic_link {
	display: block;
}
.edu_news_list .havepic .news_main_info {
	width: 416px; float: right; display: inline;
}
.divScrollbar {
	background: rgb(225, 225, 225); width: 1px; position: absolute;
}
.divScrollbar span {
	background: rgb(213, 213, 213); border-radius: 5px; left: -5px; top: 0px; width: 12px; height: 70px; display: block; position: absolute; cursor: default; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px;
}
.go_more {
	text-align: right; padding-top: 20px; display: none;
}
.load_more {
	background: rgb(255, 255, 255); height: 15px; padding-top: 10px; margin-top: -1px; border-bottom-color: rgb(175, 175, 175); border-bottom-width: 1px; border-bottom-style: solid;
}
.load_more span {
	background: rgb(255, 255, 255); padding-left: 15px; margin-bottom: -15px; float: right; display: inline;
}
.load_more .more_news {
	background: rgb(95, 95, 95); border-radius: 25px; width: 94px; height: 25px; text-align: center; color: rgb(255, 255, 255); line-height: 25px; overflow: hidden; display: block; -moz-border-radius: 25px; -webkit-border-radius: 25px; -o-border-radius: 25px;
}
.load_more .more_news:hover {
	text-decoration: underline;
}
.edu_top {
	background: url("../images/topbg.png") repeat-x left top;
}
.edu_960x100_ad1 .edu_650x100_ad1 {
	width: 650px; height: 100px; overflow: hidden; float: left; display: block;
}
.edu_960x100_ad1 .edu_300x100_ad1 {
	width: 300px; height: 100px; overflow: hidden; float: right; display: block;
}
.mod_edu_channel {
	margin: 30px auto 15px;
}
.mod_edu_channel h1 a {
	background: url("../images/logo.png") no-repeat; width: 107px; height: 24px; line-height: 1000px; overflow: hidden; margin-top: 5px; float: left; display: inline;
}
.mod_edu_channel h2 span {
	background: url("../images/logo2.png") no-repeat; margin: 6px 0px 0px 14px; width: 274px; height: 21px; line-height: 1000px; overflow: hidden; float: left; display: inline;
}
.mod_edu_channel .search_input_area {
	background: rgb(251, 251, 251); border: 1px solid rgb(235, 235, 235); border-image: none; width: 278px; height: 28px; overflow: hidden; margin-right: 5px; float: right; display: block;
}
.mod_edu_channel .textbox {
	background: rgb(251, 251, 251); border: 0px currentColor; border-image: none; width: 250px; height: 26px; color: rgb(136, 136, 136); line-height: 26px; text-indent: 3px; overflow: hidden; padding-top: 2px; float: left;
}
.mod_edu_channel .search_logo {
	background: url("../images/icon.png") no-repeat 0px -21px; border: 0px currentColor; border-image: none; width: 22px; height: 28px; float: left; cursor: pointer; _background: url(../images/icon8.png) no-repeat 0 -21px;
}
.edu_calendar {
	width: 83px; height: 30px; text-align: center; float: right; display: inline; position: relative; z-index: 2; cursor: pointer;
}
.edu_calendar a {
	text-decoration: none;
}
.edu_calendar a:hover {
	background-color: rgb(0, 109, 156);
}
.edu_calendar .select_date {
	height: 29px; text-align: center; color: rgb(255, 255, 255); line-height: 29px; overflow: hidden; font-size: 14px; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid; float: left;
}
.edu_calendar .select_date a {
	color: rgb(255, 255, 255); text-decoration: none;
}
.review_calendar .select_date a:hover {
	color: rgb(255, 255, 255); text-decoration: none;
}
.review_calendar .select_date a:visited {
	color: rgb(255, 255, 255); text-decoration: none;
}
.edu_calendar .date_title {
	background: rgb(221, 221, 221); padding: 0px 5px 0px 6px; height: 26px; line-height: 26px; overflow: hidden;
}
.edu_calendar .date_title li {
	margin: 0px 1px 1px 0px; width: 26px; font-weight: bold; float: left; _display: inline;
}
.edu_calendar .date_title .endweek {
	color: rgb(186, 38, 54);
}
.edu_calendar .date_list {
	padding: 0px 5px 5px 6px; overflow: hidden;
}
.edu_calendar .date_list li {
	background: rgb(246, 246, 246); margin: 0px 1px 1px 0px; width: 26px; height: 26px; text-align: center; line-height: 26px; overflow: hidden; float: left; _display: inline;
}
.edu_calendar .date_list a {
	background: rgb(246, 246, 246); text-align: center; display: block;
}
.edu_calendar .date_list a:hover {
	background: rgb(0, 162, 229); color: rgb(255, 255, 255);
}
.edu_calendar .date_list a.current {
	background: rgb(0, 162, 229); color: rgb(255, 255, 255);
}
.edu_calendar .date_list li span {
	background: rgb(255, 255, 255); text-align: center; color: rgb(205, 205, 205); display: block; cursor: default;
}
.edu_calendar .calendar_prev {
	width: 36px; height: 29px; text-align: center; line-height: 29px; overflow: hidden; font-size: 22px; font-weight: bold; float: left; background-color: rgb(0, 162, 229);
}
.edu_calendar .calendar_next {
	width: 36px; height: 29px; text-align: center; line-height: 29px; overflow: hidden; font-size: 22px; font-weight: bold; float: left; background-color: rgb(0, 162, 229);
}
.edu_calendar .calendar_date {
	margin: 0px 1px; width: 126px; float: left; background-color: rgb(0, 162, 229); _display: inline;
}
.edu_calendar .calendar_prev:hover {
	background-color: rgb(17, 108, 153);
}
.edu_calendar .calendar_next:hover {
	background-color: rgb(17, 108, 153);
}
.edu_calendar .review_calendar .calendar_ctrl_disabled {
	cursor: default; background-color: rgb(230, 230, 230);
}
.edu_calendar .review_calendar .calendar_ctrl_disabled:hover {
	cursor: default; background-color: rgb(230, 230, 230);
}
.edu_calendar .calendar_title {
	background: url("../images/icon.png") no-repeat 100% -130px; border: 1px solid rgb(235, 235, 235); border-image: none; width: 81px; height: 28px; text-align: left; line-height: 28px; text-indent: 9px; overflow: hidden; display: block; _background: url(../images/icon8.png) no-repeat 100% -130px;
}
.edu_calendar .calendar_main {
	background: rgb(230, 230, 230); border: 1px solid rgb(204, 204, 204); border-image: none; top: 32px; width: 200px; right: 0px; clear: both; display: none; position: absolute; z-index: 2;
}
.edu_calendar_on .calendar_main {
	display: block;
}
.mod_edu_menu {
	background: rgb(91, 167, 74); width: 959px; height: 40px; overflow: hidden; border-left-color: rgb(232, 232, 232); border-left-width: 1px; border-left-style: solid;
}
.mod_edu_menu ul {
	width: 970px;
}
.mod_edu_menu li {
	float: left; display: inline;
}
.mod_edu_menu li a {
	padding: 0px 23.5px; height: 40px; color: rgb(255, 255, 255); line-height: 40px; font-family: "Microsoft YaHei","Î¢ÈíÑÅºÚ","ËÎÌå",sans-serif; font-size: 16px; border-right-color: rgb(104, 179, 87); border-right-width: 1px; border-right-style: solid; float: left; display: inline;
}
.mod_edu_menu .current {
	background: rgb(255, 255, 255); height: 37px; color: rgb(40, 40, 40); padding-right: 24.5px; margin-top: 3px; border-right-color: currentColor; border-right-width: 0px; border-right-style: none;
}
.mod_edu_menu a:hover {
	background: rgb(255, 255, 255); height: 37px; color: rgb(40, 40, 40); padding-right: 24.5px; margin-top: 3px; border-right-color: currentColor; border-right-width: 0px; border-right-style: none;
}
.mod_second_nav {
	background: url("../images/icon.png") no-repeat 10px -57px rgb(255, 255, 255); height: 44px; line-height: 44px; overflow: hidden; _background: #fff url(../images/icon8.png) no-repeat 10px -57px;
}
.mod_second_nav a {
	color: rgb(136, 136, 136); margin-right: 13px;
}
.mod_second_nav a:hover {
	color: rgb(104, 179, 87);
}
.mod_second_nav .panel {
	padding-left: 28px; display: none;
}
.mod_second_nav .current {
	display: block;
}
.ne_ua_ie6 .news_one {
	height: 125px; overflow: hidden;
}
.ne_ua_ie7 .news_one {
	height: 125px; overflow: hidden;
}
.ne_ua_ie6 .share-tabs .clearfix {
	display: none;
}
.ne_ua_ie7 .share-tabs .clearfix {
	display: none;
}
.ne_ua_ie6 .load_more {
	background: url("../images/loadmore.png") no-repeat; height: 15px; margin-top: 10px; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
.ne_ua_ie7 .load_more {
	background: url("../images/loadmore.png") no-repeat; height: 15px; margin-top: 10px; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
.ne_ua_ie6 .load_more span {
	background: 0px; width: 94px; height: 25px; padding-left: 0px; margin-top: -10px; margin-bottom: 0px; cursor: pointer;
}
.ne_ua_ie7 .load_more span {
	background: 0px; width: 94px; height: 25px; padding-left: 0px; margin-top: -10px; margin-bottom: 0px; cursor: pointer;
}
.ne_ua_ie6 .load_more .more_news {
	background: 0px; line-height: 1000px; float: right;
}
.ne_ua_ie7 .load_more .more_news {
	background: 0px; line-height: 1000px; float: right;
}
.ne_ua_ie6 .edu_news_list .pic_link {
	position: static;
}
.ne_ua_ie7 .edu_news_list .pic_link {
	position: static;
}
.ne_ua_ie6 .edu_news_list .ico_special {
	display: none;
}
.ne_ua_ie7 .edu_news_list .ico_special {
	display: none;
}
.pfoot {
	margin-top: 30px;
}
.footerbg {
	background: repeat-x 0px 0px rgb(248, 248, 248); height: 270px; border-top-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: solid;
}
.footer {
	margin: 0px auto; width: 960px;
}
.footer_channel {
	background: url("../images/edu_logo.png") no-repeat; margin: 20px 31px 0px 0px; width: 128px; height: 84px; float: left; _display: inline;
}
.footer_channel a {
	width: 100%; height: 100%; text-indent: -99em; overflow: hidden; display: block;
}
.footer_content {
	float: left;
}
.other_info {
	padding: 30px 0px 20px 25px;
}
.news_sub {
	width: 180px; height: 270px; border-left-color: rgb(221, 221, 221); border-left-width: 1px; border-left-style: solid; float: left;
}
.other_channels {
	width: 340px; height: 270px; border-left-color: rgb(221, 221, 221); border-left-width: 1px; border-left-style: solid; float: left;
}
.other_info {
	width: 251px; height: 220px; border-left-color: rgb(221, 221, 221); border-left-width: 1px; border-left-style: solid; float: left;
}
.footer_module_content h3 {
	padding: 30px 0px 10px 30px; color: rgb(128, 128, 128); font-weight: bold;
}
.footer_module_coo h3 {
	padding: 30px 0px 10px 30px; color: rgb(128, 128, 128); font-weight: bold;
}
.footer_module_content h3 a {
	color: rgb(128, 128, 128); font-weight: bold;
}
.footer_module_content h3 a:visited {
	color: rgb(128, 128, 128); font-weight: bold;
}
.footer_module_coo h3 a {
	color: rgb(128, 128, 128); font-weight: bold;
}
.footer_module_coo h3 a:visited {
	color: rgb(128, 128, 128); font-weight: bold;
}
.footer_module_content h3 a:hover {
	color: rgb(186, 38, 54);
}
.footer_module_coo h3 a:hover {
	color: rgb(186, 38, 54);
}
.footer_module_content p a {
	width: 64px; height: 28px; line-height: 28px; overflow: hidden; padding-left: 20px; float: left; white-space: nowrap;
}
.footer_module_content p a {
	color: rgb(136, 136, 136);
}
.footer_module_content p a:visited {
	color: rgb(136, 136, 136);
}
.footer_module_coo p a {
	color: rgb(136, 136, 136);
}
.footer_module_coo p a:visited {
	color: rgb(136, 136, 136);
}
.footer_module_content p a:hover {
	color: rgb(186, 38, 54);
}
.footer_module_coo p a:hover {
	color: rgb(186, 38, 54);
}
.footer_module_coo {
	color: rgb(136, 136, 136);
}
.footer_module_coo p {
	line-height: 28px; padding-left: 13px;
}
.footer_module_coo p a {
	padding: 0px 7px; height: 28px; color: rgb(136, 136, 136); display: inline-block;
}
.footer_module_coo p a:visited {
	padding: 0px 7px; height: 28px; color: rgb(136, 136, 136); display: inline-block;
}
.footer_content .search_input_area {
	background: rgb(255, 255, 255); width: 240px;
}
.footer_content .top_search .textBox {
	width: 218px; _width: 210px;
}
.footer_content .search_logo {
	float: right;
}
.edu_footer_content {
	color: rgb(136, 136, 136); font-weight: bold; float: left;
}
.edu_footer_content p {
	margin: 10px 0px 0px;
}
.edu_footer_content a {
	color: rgb(136, 136, 136);
}
.footerbg .passport_entry {
	padding: 2px 0px 0px; float: left;
}
.footerbg .passport_entry a {
	padding: 0px 3px;
}
.footerbg .passport_entry .lofter a {
	width: 30px; height: 30px; display: block; background-image: url("http://img1.cache.netease.com/cnews/newimg/ne_foot_icon.png"); background-repeat: no-repeat;
}
.footerbg .passport_entry .mail a {
	width: 30px; height: 30px; display: block; background-image: url("http://img1.cache.netease.com/cnews/newimg/ne_foot_icon.png"); background-repeat: no-repeat;
}
.footerbg .passport_entry .rss a {
	width: 30px; height: 30px; display: block; background-image: url("http://img1.cache.netease.com/cnews/newimg/ne_foot_icon.png"); background-repeat: no-repeat;
}
.footerbg .passport_entry .lofter a:hover {
	width: 30px; height: 30px; display: block; background-image: url("http://img1.cache.netease.com/cnews/newimg/ne_foot_icon.png"); background-repeat: no-repeat;
}
.footerbg .passport_entry .mail a:hover {
	width: 30px; height: 30px; display: block; background-image: url("http://img1.cache.netease.com/cnews/newimg/ne_foot_icon.png"); background-repeat: no-repeat;
}
.footerbg .passport_entry .rss a:hover {
	width: 30px; height: 30px; display: block; background-image: url("http://img1.cache.netease.com/cnews/newimg/ne_foot_icon.png"); background-repeat: no-repeat;
}
.footerbg .passport_entry .lofter a {
	background-position: -159px -133px;
}
.footerbg .passport_entry .mail a {
	background-position: -40px -1px;
}
.footerbg .passport_entry .rss a {
	background-position: -80px -1px;
}
.footerbg .passport_entry .lofter a:hover {
	background-position: -117px -133px;
}
.footerbg .passport_entry .mail a:hover {
	background-position: -40px -32px;
}
.footerbg .passport_entry .rss a:hover {
	background-position: -80px -32px;
}
.footerbg .top_search {
	margin: 21px 0px 9px; float: right; display: inline;
}
.footerbg .top_search .textBox {
	background: 0px 0px rgb(255, 255, 255); border: 0px currentColor; border-image: none; width: 205px; height: 28px; color: rgb(136, 136, 136); line-height: 28px; text-indent: 3px; float: left;
}
.footerbg .search_input_area {
	background: rgb(255, 255, 255); border: 1px solid rgb(232, 232, 232); width: 230px; height: 28px;
}
.footerbg .search_logo {
	background: url("http://img6.cache.netease.com/cnews/news2012/img/icons-sprites-v3.png") no-repeat -350px -70px; border: 0px currentColor; border-image: none; width: 22px; height: 28px; float: left; cursor: pointer;
}
.footerbg .mhidden {
	left: -99999px; position: absolute;
}
a.gotop {
	background: url("../images/gotop.png?0630") no-repeat; left: 50%; width: 50px; height: 49px; bottom: 50px; text-indent: -9999em; overflow: hidden; margin-left: 520px; display: none; position: fixed; _position: absolute;
}
a.gotop:hover {
	background-position: 0px -49px;
}
.ad3001 {
	width: 300px; height: 150px; overflow: hidden;
}
.ad3002 {
	width: 300px; height: 250px; overflow: hidden;
}
.ad960 {
	width: 960px; height: 100px; overflow: hidden;
}
.ad620 {
	width: 620px; height: 100px; overflow: hidden;
}
.ntes_snapshot_timeline {
	margin: 56px 0px -45px;
}
.mod_tab_news {
	width: 620px;
}
.mod_tab_news .hd {
	background: rgb(104, 179, 87); top: 45px; width: 620px; height: 44px; overflow: hidden; z-index: 2;
}
.mod_tab_news .hd a {
	color: rgb(255, 255, 255);
}
.mod_tab_news .hd ul {
	margin: 5px 0px 0px 14px;
}
.mod_tab_news .hd li {
	background: url("../images/split.png") no-repeat left 14px; width: 105px; height: 39px; text-align: center; color: rgb(255, 255, 255); line-height: 39px; overflow: hidden; font-family: "Microsoft YaHei","Î¢ÈíÑÅºÚ","ËÎÌå",sans-serif; font-size: 20px; float: left; display: inline;
}
.mod_tab_news .hd .first {
	background: 0px;
}
.mod_tab_news .hd .current {
	background: rgb(255, 255, 255); color: rgb(40, 40, 40); margin-right: -1px; position: relative;
}
.mod_tab_news .hd .current a {
	color: rgb(40, 40, 40);
}
.mod_tab_news .bd {
	height: 1955px; overflow: hidden;
}
.mod_tab_news .empty_line {
	height: 1px; overflow: hidden;
}
.mod_tab_news .edu_news_list {
	margin-top: -1px;
}
.edu_title {
	height: 29px; overflow: hidden;
}
.edu_title h2 {
	background: url("../images/title_bg.png") no-repeat; line-height: 20px; padding-left: 13px; font-size: 20px; float: left; display: inline;
}
.edu_title .more {
	background: url("../images/icon.png") no-repeat 100% -190px; width: 13px; height: 13px; line-height: 1000px; overflow: hidden; float: right; display: inline;
}
.cm_ctrls span {
	background: rgb(180, 180, 180); border-radius: 8px; width: 8px; height: 8px; line-height: 1000px; overflow: hidden; margin-left: 8px; display: inline-block; cursor: default; -moz-border-radius: 8px; -webkit-border-radius: 8px; -o-border-radius: 8px;
}
.cm_ctrls .current {
	background: rgb(91, 167, 74);
}
.li_text li {
	background: url("../images/black_li.png") no-repeat 0px 8px; height: 18px; overflow: hidden; padding-bottom: 6px; padding-left: 13px;
}
.y_btn {
	background: rgb(255, 164, 56); width: 68px; height: 23px; text-align: center; color: rgb(255, 255, 255); line-height: 23px; overflow: hidden; text-decoration: none; display: block;
}
.y_btn:hover {
	background: rgb(255, 108, 0); color: rgb(255, 255, 255); text-decoration: none;
}
.mod_photo .bd {
	width: 300px; position: relative;
}
.mod_photo .bd .cm_ctrls {
	top: -24px; right: 0px; position: absolute;
}
.mod_photo .scroll_body .panel {
	width: 300px; height: 200px; overflow: hidden; display: none; position: relative;
}
.mod_photo .scroll_body .current {
	display: block;
}
.mod_photo .scroll_body img {
	width: 300px; height: 200px; overflow: hidden; display: block;
}
.mod_photo .scroll_body .bg {
	background: rgb(0, 0, 0); left: 0px; width: 300px; height: 30px; bottom: 0px; display: block; position: absolute; opacity: 0.8; -moz-opacity: .8;
}
.mod_photo .scroll_body h3 {
	left: 17px; bottom: 5px; color: rgb(255, 255, 255); position: absolute;
}
.mod_photo .li_text {
	margin-top: 17px;
}
.column_title {
	height: 40px; font-size: 30px; border-bottom-color: rgb(91, 167, 74); border-bottom-width: 3px; border-bottom-style: solid;
}
.observe_slide .prev {
	background: rgb(0, 0, 0); border-radius: 15px; top: 75px; width: 30px; height: 30px; text-align: center; color: rgb(255, 255, 255); line-height: 30px; overflow: hidden; font-family: SimHei,SimSum,Arial; font-size: 20px; font-weight: bold; float: left; display: block; position: absolute; z-index: 3; opacity: 0.6; -moz-border-radius: 15px; -webkit-border-radius: 15px; -o-border-radius: 15px; -moz-opacity: .6;
}
.parent_club_slide .prev {
	background: rgb(0, 0, 0); border-radius: 15px; top: 75px; width: 30px; height: 30px; text-align: center; color: rgb(255, 255, 255); line-height: 30px; overflow: hidden; font-family: SimHei,SimSum,Arial; font-size: 20px; font-weight: bold; float: left; display: block; position: absolute; z-index: 3; opacity: 0.6; -moz-border-radius: 15px; -webkit-border-radius: 15px; -o-border-radius: 15px; -moz-opacity: .6;
}
.observe_slide .next {
	background: rgb(0, 0, 0); border-radius: 15px; top: 75px; width: 30px; height: 30px; text-align: center; color: rgb(255, 255, 255); line-height: 30px; overflow: hidden; font-family: SimHei,SimSum,Arial; font-size: 20px; font-weight: bold; float: left; display: block; position: absolute; z-index: 3; opacity: 0.6; -moz-border-radius: 15px; -webkit-border-radius: 15px; -o-border-radius: 15px; -moz-opacity: .6;
}
.parent_club_slide .next {
	background: rgb(0, 0, 0); border-radius: 15px; top: 75px; width: 30px; height: 30px; text-align: center; color: rgb(255, 255, 255); line-height: 30px; overflow: hidden; font-family: SimHei,SimSum,Arial; font-size: 20px; font-weight: bold; float: left; display: block; position: absolute; z-index: 3; opacity: 0.6; -moz-border-radius: 15px; -webkit-border-radius: 15px; -o-border-radius: 15px; -moz-opacity: .6;
}
.observe_slide .prev {
	left: 5px;
}
.parent_club_slide .prev {
	left: 5px;
}
.observe_slide .next {
	right: 5px;
}
.parent_club_slide .next {
	right: 5px;
}
.observe_slide .prev:hover {
	opacity: 1;
}
.parent_club_slide .prev:hover {
	opacity: 1;
}
.observe_slide .next:hover {
	opacity: 1;
}
.parent_club_slide .next:hover {
	opacity: 1;
}
.area_top_news {
	height: 355px; overflow: hidden; margin-top: 30px;
}
.area_top_news .col_l {
	width: 620px; float: left; display: inline;
}
.area_top_news .col_r {
	width: 315px; overflow: hidden; float: right; display: inline;
}
.area_top_news .col_r p {
	color: rgb(136, 136, 136);
}
.area_top_news .col_r p a {
	color: rgb(136, 136, 136);
}
.area_top_news .col_r p a:hover {
	color: rgb(186, 38, 54);
}
.area_top_news .col_r h2 {
	font-family: "Microsoft YaHei","Î¢ÈíÑÅºÚ","ËÎÌå",sans-serif; font-size: 18px; font-weight: bold;
}
.area_top_news .col_r .day_news h2 {
	height: 27px; overflow: hidden; margin-top: 23px;
}
.area_top_news .col_r .day_news .first {
	margin-top: 0px;
}
.area_top_news .col_r .day_news p {
	margin: 3px 0px; height: 18px; overflow: hidden;
}
.area_top_news .head_news {
	height: 27px; overflow: hidden;
}
.area_top_news .head_news label {
	background: url("../images/icon.png") no-repeat 0px 0px; width: 68px; height: 19px; color: rgb(255, 255, 255); line-height: 19px; text-indent: 7px; overflow: hidden; float: left; display: inline; _background: url(../images/icon8.png) no-repeat 0 0;
}
.area_top_news .head_news h2 {
	margin: -4px 0px 0px 8px; float: left; display: inline;
}
.mod_slide_focus {
	width: 620px; height: 355px; overflow: hidden; position: relative;
}
.mod_slide_focus .scroll_body {
	width: 620px; height: 355px; overflow: hidden;
}
.mod_slide_focus .scroll_body .panels {
	width: 5000px; overflow: hidden;
}
.mod_slide_focus .scroll_body .panel {
	width: 620px; height: 355px; overflow: hidden; float: left; display: inline; position: relative;
}
.mod_slide_focus .scroll_body .bg {
	background: rgb(0, 0, 0); left: 0px; width: 620px; height: 70px; bottom: 0px; display: block; position: absolute; opacity: 0.8; -moz-opacity: .8;
}
.mod_slide_focus .scroll_body .info {
	padding: 6px 0px 0px 19px; left: 0px; height: 64px; bottom: 0px; position: absolute;
}
.mod_slide_focus .scroll_body h2 {
	font-family: "Microsoft YaHei","Î¢ÈíÑÅºÚ","ËÎÌå",sans-serif; font-size: 22px;
}
.mod_slide_focus .scroll_body p {
	color: rgb(179, 178, 178); margin-top: 3px;
}
.mod_slide_focus .scroll_body a {
	color: rgb(255, 255, 255);
}
.mod_slide_focus .scroll_body a:hover {
	text-decoration: underline;
}
.mod_slide_focus .prev {
	background: url("../images/icon.png") no-repeat 0px -190px; top: 126px; width: 67px; height: 67px; line-height: 1000px; overflow: hidden; position: absolute;
}
.mod_slide_focus .next {
	background: url("../images/icon.png") no-repeat 0px -190px; top: 126px; width: 67px; height: 67px; line-height: 1000px; overflow: hidden; position: absolute;
}
.mod_slide_focus .prev {
	left: 0px;
}
.mod_slide_focus .next {
	background-position: -73px -190px; right: 0px;
}
.mod_slide_focus .prev:hover {
	background-position: 0px -262px;
}
.mod_slide_focus .next:hover {
	background-position: -73px -262px;
}
.mod_slide_focus .scroll_ctrls {
	right: 25px; bottom: 39px; position: absolute;
}
.area_news_ft {
	margin-top: 20px;
}
.mod_ad_list {
	padding: 11px 0px 0px 37px; border: 1px solid rgb(220, 221, 221); border-image: none; width: 921px; height: 53px; color: rgb(136, 136, 136); overflow: hidden;
}
.mod_ad_list ul {
	width: 1000px;
}
.mod_ad_list li {
	float: left; display: inline;
}
.mod_ad_list li a {
	padding: 0px 8px; width: 160px; height: 14px; line-height: 1.2; margin-bottom: 15px; border-right-color: rgb(136, 136, 136); border-right-width: 1px; border-right-style: solid; float: left; display: inline;
}
.mod_ad_list .noborder a {
	border-right-color: currentColor; border-right-width: 0px; border-right-style: none;
}
.mod_ad_list a {
	color: rgb(136, 136, 136);
}
.mod_ad_list a:hover {
	color: rgb(186, 38, 54);
}
.area_news_type {
	margin-top: 30px;
}
.area_news_type .col_l {
	width: 620px; float: left; display: inline;
}
.area_news_type .col_r {
	width: 300px; overflow: hidden; float: right; display: inline;
}
.list_ad {
	background: rgb(255, 255, 255); padding: 25px 0px; width: 620px; height: 100px; overflow: hidden; margin-top: -1px; display: block;
}
.news_pic_list {
	padding: 25px 0px; width: 620px; overflow: hidden; border-bottom-color: rgb(234, 234, 234); border-bottom-width: 1px; border-bottom-style: solid;
}
.news_pic_list ul {
	width: 670px;
}
.news_pic_list li {
	width: 180px; height: 125px; overflow: hidden; margin-right: 40px; float: left; display: block; position: relative;
}
.news_pic_list img {
	width: 180px; height: 125px; overflow: hidden; display: block;
}
.news_pic_list .bg {
	background: rgb(0, 0, 0); left: 0px; width: 180px; height: 25px; bottom: 0px; display: block; position: absolute; opacity: 0.8; -moz-opacity: .8;
}
.news_pic_list h3 {
	left: 10px; bottom: 2px; position: absolute;
}
.news_pic_list a {
	color: rgb(255, 255, 255);
}
.news_pic_list a:hover {
	text-decoration: underline;
}
.mod_w300_250 {
	width: 300px; height: 250px; overflow: hidden; display: block;
}
.kids_list {
	padding: 18px 0px; height: 168px; overflow: hidden;
}
.gaokao_list {
	padding: 18px 0px; height: 258px; overflow: hidden;
}
.mod_selection_planning {
	margin-top: 50px;
}
.mod_selection_planning .bd {
	border-top-color: rgb(234, 234, 234); border-top-width: 1px; border-top-style: solid;
}
.mod_selection_planning .row {
	border: 1px solid rgb(234, 234, 234); border-image: none; width: 298px; margin-top: -1px; position: relative;
}
.mod_selection_planning .f_hd {
	height: 86px; overflow: hidden;
}
.mod_selection_planning .f_hd table {
	width: 80px; float: left; display: inline;
}
.mod_selection_planning .f_hd table td {
	background: rgb(91, 167, 74); width: 80px; height: 86px; text-align: center;
}
.mod_selection_planning .f_hd table a {
	color: rgb(255, 255, 255); line-height: 20px; font-family: "Microsoft YaHei","Î¢ÈíÑÅºÚ","ËÎÌå",sans-serif; font-size: 20px;
}
.mod_selection_planning .f_hd .info {
	padding: 10px 10px 0px; width: 198px; height: 75px; border-bottom-color: rgb(124, 185, 110); border-bottom-width: 1px; border-bottom-style: solid; float: left; display: inline;
}
.mod_selection_planning .f_hd .info h3 {
	background: url("../images/li.png") no-repeat 0px 5px; padding-left: 13px; font-size: 14px; font-weight: bold;
}
.mod_selection_planning .f_hd .info p {
	color: rgb(136, 136, 136); line-height: 1.7; margin-top: 5px;
}
.mod_selection_planning .f_hd .info a:hover {
	text-decoration: underline;
}
.mod_selection_planning .f_bd {
	width: 298px; height: 200px; position: relative;
}
.mod_selection_planning .f_bd a {
	width: 298px; height: 200px; overflow: hidden; display: block;
}
.mod_selection_planning .f_bd img {
	width: 298px; height: 200px; overflow: hidden; display: block;
}
.mod_selection_planning .f_bd .triangle {
	background: url("../images/sj.png") no-repeat; top: -1px; width: 20px; height: 9px; right: 13px; overflow: hidden; display: block; position: absolute;
}
.mod_selection_planning .r_simple {
	height: 49px; line-height: 49px; overflow: hidden; padding-left: 8px;
}
.mod_selection_planning .r_simple span {
	width: 78px; font-weight: bold; display: inline-block;
}
.mod_selection_planning .r_simple .subject_link {
	background: url("../images/li.png") no-repeat 0px 3px; color: rgb(136, 136, 136); padding-left: 13px;
}
.mod_selection_planning .r_simple a:hover {
	color: rgb(104, 179, 87);
}
.mod_selection_planning .r_info {
	display: none;
}
.mod_selection_planning .row_on .r_info {
	display: block;
}
.mod_selection_planning .row_on .r_simple {
	display: none;
}
.mod_interviews {
	margin-top: 50px;
}
.mod_interviews .bd {
	width: 300px; overflow: hidden; position: relative;
}
.mod_interviews .bd .cm_ctrls {
	top: -24px; right: 0px; position: absolute;
}
.mod_interviews .scroll_body {
	width: 300px; overflow: hidden;
}
.mod_interviews .scroll_body .panel {
	display: none;
}
.mod_interviews .scroll_body .current {
	display: block;
}
.mod_interviews .scroll_body li {
	background: rgb(245, 245, 245); height: 80px; overflow: hidden; margin-bottom: 20px;
}
.mod_interviews .scroll_body a.photo {
	float: left; display: inline;
}
.mod_interviews .scroll_body a.photo img {
	width: 80px; height: 80px; overflow: hidden; display: block;
}
.mod_interviews .scroll_body .info {
	width: 203px; padding-left: 17px; float: left; display: inline;
}
.mod_interviews .scroll_body .info h3 {
	font-size: 14px; font-weight: bold; margin-top: 23px;
}
.mod_interviews .scroll_body .info p {
	color: rgb(136, 136, 136);
}
.mod_w300_100 {
	width: 300px; height: 100px; overflow: hidden; margin-top: 20px; display: block;
}
.mod_observe {
	margin-top: 50px;
}
.mod_w300_b {
	margin-top: 32px;
}
.area_type2 {
	margin-top: 40px;
}
.mod_train_evaluate {
	width: 300px; overflow: hidden;
}
.mod_train_evaluate .eva {
	float: right; display: inline;
}
.mod_train_evaluate .hd {
	margin: 8px 0px 0px -21px; height: 32px;
}
.mod_train_evaluate .hd li {
	width: 80px; height: 32px; text-align: center; line-height: 32px; margin-left: 20px; float: left; display: inline;
}
.mod_train_evaluate .hd .current {
	background: rgb(255, 255, 255); height: 30px; line-height: 30px; margin-bottom: -1px; border-top-color: rgb(95, 95, 95); border-top-width: 3px; border-top-style: solid; position: relative;
}
.mod_train_evaluate .hd .current a {
	height: 30px; font-weight: bold; border-right-color: rgb(235, 235, 235); border-left-color: rgb(235, 235, 235); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; display: block;
}
.mod_train_evaluate .bd .panel {
	display: none;
}
.mod_train_evaluate .bd .current {
	display: block;
}
.mod_train_evaluate .bd li {
	height: 50px; line-height: 50px; overflow: hidden; border-top-color: rgb(234, 234, 234); border-top-width: 1px; border-top-style: solid;
}
.mod_train_evaluate .bd li a {
	margin-left: 20px; float: left; display: inline;
}
.mod_train_evaluate .bd li .info {
	float: right; display: inline;
}
.mod_train_evaluate .bd li .t {
	width: 25px; text-align: right; display: inline-block;
}
.mod_train_evaluate .bd li .ztai {
	margin: 0px 15px;
}
.mod_train_evaluate .bd ul li:last-of-type {
	background: rgb(245, 245, 245);
}
.mod_train_evaluate .bd .good_ul .t {
	color: rgb(191, 20, 20);
}
.mod_train_evaluate .bd .good_ul .ztai {
	color: rgb(191, 20, 20);
}
.mod_colleges {
	padding: 18px 0px;
}
.mod_colleges .colleges_main {
	background: rgb(245, 245, 245); border-width: 1px 1px 3px; border-style: solid; border-color: rgb(234, 234, 234) rgb(234, 234, 234) rgb(95, 95, 95); padding: 0px 15px; border-image: none; height: 140px;
}
.mod_colleges h3 {
	margin: 15px 0px 5px; font-family: "Microsoft YaHei","Î¢ÈíÑÅºÚ","ËÎÌå",sans-serif; font-size: 18px; font-weight: bold;
}
.mod_colleges p {
	color: rgb(136, 136, 136);
}
.mod_colleges .select_main {
	margin-top: 20px;
}
.mod_colleges .select_style {
	margin-right: 10px; float: left; display: inline;
}
.mod_colleges select {
	padding: 2px 0px 0px 5px; border: 1px solid rgb(235, 235, 235); border-image: none; width: 140px; height: 28px; color: rgb(136, 136, 136);
}
.mod_colleges .find_btn {
	margin: 2px 0px 0px; float: right; display: inline;
}
.mod_liuxue_tool {
	margin-top: 45px;
}
.mod_liuxue_tool .bd {
	background: url("../images/tools.png") no-repeat; width: 300px; height: 200px; overflow: hidden; display: block;
}
.mod_liuxue_tool .bd li {
	width: 100px; height: 100px; overflow: hidden; float: left; display: block;
}
.mod_liuxue_tool .bd li a {
	width: 100px; height: 25px; text-align: center; overflow: hidden; padding-top: 75px; font-family: "Microsoft YaHei","Î¢ÈíÑÅºÚ","ËÎÌå",sans-serif; font-size: 14px; display: block;
}
.mod_liuxue_tool .bd li a:hover {
	background: url("../images/tools.png") no-repeat; color: rgb(255, 255, 255);
}
.mod_liuxue_tool .bd .tool1:hover {
	background-position: 0px -204px;
}
.mod_liuxue_tool .bd .tool2:hover {
	background-position: -101px -204px;
}
.mod_liuxue_tool .bd .tool3:hover {
	background-position: -201px -204px;
}
.mod_liuxue_tool .bd .tool4:hover {
	background-position: 0px -304px;
}
.mod_liuxue_tool .bd .tool5:hover {
	background-position: -101px -304px;
}
.mod_liuxue_tool .bd .tool6:hover {
	background-position: -201px -304px;
}
.mod_w300_c {
	margin-top: 25px;
}
.mod_expert_database {
	margin-top: 42px;
}
.mod_expert_database .bd {
	width: 300px; position: relative;
}
.mod_expert_database .bd .cm_ctrls {
	top: -24px; right: 0px; position: absolute;
}
.mod_expert_database .scroll_body .panel {
	width: 300px; overflow: hidden; display: none;
}
.mod_expert_database .scroll_body .panel ul {
	width: 319px;
}
.mod_expert_database .scroll_body .panel li {
	width: 60px; height: 120px; text-align: center; overflow: hidden; margin-right: 19px; float: left; display: block;
}
.mod_expert_database .scroll_body .panel .photo {
	width: 60px; height: 60px; overflow: hidden; display: block;
}
.mod_expert_database .scroll_body .panel img {
	width: 60px; height: 60px; overflow: hidden; display: block;
}
.mod_expert_database .scroll_body .panel h3 {
	margin: 5px 0px 0px; font-weight: bold;
}
.mod_expert_database .scroll_body .current {
	display: block;
}
.mod_open_class .photo {
	width: 300px; height: 150px; overflow: hidden; display: block;
}
.mod_cloud_classroom .photo {
	width: 300px; height: 150px; overflow: hidden; display: block;
}
.mod_open_class img {
	width: 300px; height: 150px; overflow: hidden; display: block;
}
.mod_cloud_classroom img {
	width: 300px; height: 150px; overflow: hidden; display: block;
}
.mod_open_class .photo {
	position: relative;
}
.mod_cloud_classroom .photo {
	position: relative;
}
.mod_open_class .photo .bg {
	background: rgb(0, 0, 0); left: 0px; width: 300px; height: 30px; bottom: 0px; display: block; position: absolute; opacity: 0.8; -moz-opacity: .8;
}
.mod_cloud_classroom .photo .bg {
	background: rgb(0, 0, 0); left: 0px; width: 300px; height: 30px; bottom: 0px; display: block; position: absolute; opacity: 0.8; -moz-opacity: .8;
}
.mod_open_class .photo h3 {
	left: 17px; bottom: 5px; color: rgb(255, 255, 255); position: absolute;
}
.mod_cloud_classroom .photo h3 {
	left: 17px; bottom: 5px; color: rgb(255, 255, 255); position: absolute;
}
.mod_open_class .ft {
	margin-top: 17px;
}
.mod_cloud_classroom .ft {
	margin-top: 17px;
}
.mod_open_class {
	margin-top: 42px;
}
.mod_cloud_classroom {
	margin-top: 42px;
}
.mod_w300_d {
	margin-top: 30px;
}
.mod_parent_club {
	margin-top: 50px;
}
.ad_960_a {
	margin-top: 50px;
}
.area_big_plan {
	background: rgb(69, 69, 69); height: 393px; margin-top: 52px;
}
.area_big_plan .hd {
	height: 60px; border-bottom-color: rgb(255, 164, 56); border-bottom-width: 1px; border-bottom-style: solid; position: relative;
}
.area_big_plan .hd span {
	background: url("../images/planning.png") no-repeat top rgb(69, 69, 69); padding: 0px 40px; left: 396px; top: 24px; width: 86px; height: 86px; line-height: 1000px; overflow: hidden; position: absolute;
}
.area_big_plan .mod_slide_plan {
	width: 960px; margin-top: 85px; position: relative;
}
.area_big_plan .mod_slide_plan .scroll_body {
	width: 960px; height: 210px; overflow: hidden;
}
.area_big_plan .mod_slide_plan .scroll_body .panels {
	width: 5000px; height: 210px; overflow: hidden;
}
.area_big_plan .mod_slide_plan .scroll_body .panel {
	width: 960px; height: 210px; float: left; display: inline;
}
.area_big_plan .mod_slide_plan .scroll_body ul {
	width: 1000px;
}
.area_big_plan .mod_slide_plan .scroll_body li {
	width: 220px; height: 210px; overflow: hidden; margin-right: 27px; float: left; display: block;
}
.area_big_plan .mod_slide_plan .scroll_body img {
	width: 220px; height: 150px; overflow: hidden; display: block;
}
.area_big_plan .mod_slide_plan .scroll_body .p_hd {
	height: 25px; overflow: hidden;
}
.area_big_plan .mod_slide_plan .scroll_body .p_hd h2 {
	font-size: 14px; font-weight: bold; float: left; display: inline;
}
.area_big_plan .mod_slide_plan .scroll_body .p_hd a {
	color: rgb(255, 255, 255);
}
.area_big_plan .mod_slide_plan .scroll_body .p_hd a:hover {
	text-decoration: underline;
}
.area_big_plan .mod_slide_plan .scroll_body .p_hd .more {
	background: url("../images/icon.png") no-repeat 100% -190px; width: 13px; height: 13px; line-height: 1000px; overflow: hidden; float: right; display: inline;
}
.area_big_plan .mod_slide_plan .scroll_body .p_bd .photo {
	width: 220px; height: 150px; overflow: hidden; display: block;
}
.area_big_plan .mod_slide_plan .scroll_body .p_bd h3 {
	margin-top: 10px;
}
.area_big_plan .mod_slide_plan .scroll_body .p_bd h3 a {
	color: rgb(182, 181, 181);
}
.area_big_plan .mod_slide_plan .scroll_body .p_bd h3 a:hover {
	text-decoration: underline;
}
.area_big_plan .mod_slide_plan .prev {
	top: 73px; width: 67px; height: 67px; line-height: 1000px; overflow: hidden; position: absolute;
}
.area_big_plan .mod_slide_plan .next {
	top: 73px; width: 67px; height: 67px; line-height: 1000px; overflow: hidden; position: absolute;
}
.area_big_plan .mod_slide_plan .prev {
	background: url("../images/icon.png") no-repeat 0px -358px; left: -77px; _background: url(../images/icon8.png) no-repeat 0 -358px;
}
.area_big_plan .mod_slide_plan .next {
	background: url("../images/icon.png") no-repeat -73px -358px; right: -77px; _background: url(../images/icon8.png) no-repeat -73px -358px;
}
.area_big_plan .mod_slide_plan .prev:hover {
	background-color: rgb(91, 167, 74);
}
.area_big_plan .mod_slide_plan .next:hover {
	background-color: rgb(91, 167, 74);
}
.area_brand_column {
	overflow: hidden; margin-top: 50px;
}
.area_brand_column .cells {
	width: 1000px;
}
.area_brand_column .cell {
	margin: 20px 25px 0px 0px; width: 220px; overflow: hidden; float: left; display: inline;
}
.area_brand_column .cell .hd {
	height: 49px; overflow: hidden;
}
.area_brand_column .cell .bd {
	width: 220px; height: 150px; overflow: hidden; display: block; position: relative;
}
.area_brand_column .cell .bd img {
	width: 220px; height: 150px; overflow: hidden; display: block;
}
.area_brand_column .cell .bd .bg {
	background: rgb(0, 0, 0); left: 0px; width: 220px; height: 30px; bottom: 0px; display: block; position: absolute; opacity: 0.8; -moz-opacity: .8;
}
.area_brand_column .cell .bd h3 {
	left: 17px; bottom: 5px; color: rgb(255, 255, 255); position: absolute;
}
.area_brand_column .cell .ft {
	margin-top: 13px;
}
.area_brand_column .cell .ft li {
	padding: 8px 0px; width: 220px; height: 19px; overflow: hidden; display: block;
}
.area_campus {
	margin-top: 40px;
}
.campus_main {
	margin-top: 20px;
}
.campus_main .col_l {
	width: 620px; height: 312px; overflow: hidden; float: left; display: inline;
}
.campus_main .col_r {
	width: 300px; float: right; display: inline;
}
.campus_img_list ul {
	width: 630px;
}
.campus_img_list li {
	margin: 0px 2px 2px 0px; height: 155px; overflow: hidden; float: left; display: inline; position: relative; _zoom: 1;
}
.campus_img_list li img {
	height: 155px;
}
.campus_img_list li h3 {
	background: url("../images/photo_text_bg.png"); left: 0px; top: 0px; width: 100%; height: 100%; text-align: center; color: rgb(255, 255, 255); line-height: 24px; display: none; position: absolute; cursor: pointer;
}
.campus_img_list li h3 span {
	left: 10%; width: 80%; bottom: 50%; color: rgb(255, 255, 255); font-family: "SimSun"; font-size: 14px; font-weight: normal; margin-bottom: -1px; border-bottom-color: rgb(109, 124, 131); border-bottom-width: 1px; border-bottom-style: solid; display: block; position: absolute;
}
.campus_img_list li:hover h3 {
	display: block;
}
.campus_img_list .pic_hover h3 {
	display: block;
}
.campus_img_list .c1 {
	width: 309px;
}
.campus_img_list .c2 {
	width: 309px;
}
.campus_img_list .c4 {
	width: 309px;
}
.campus_img_list .c1 img {
	width: 309px;
}
.campus_img_list .c2 img {
	width: 309px;
}
.campus_img_list .c4 img {
	width: 309px;
}
.campus_img_list .c3 {
	width: 154px;
}
.campus_img_list .c5 {
	width: 154px;
}
.campus_img_list .c3 img {
	width: 154px;
}
.campus_img_list .c5 img {
	width: 154px;
}
.w300_150 {
	width: 300px; height: 150px; overflow: hidden; display: block;
}
.mod_edu_active .w300_150 {
	margin-top: 8px;
}
.mod_edu_active .ft {
	margin-top: 25px;
}
.area_link {
	margin-top: 30px;
}
.area_link h2 {
	font-size: 20px;
}
.area_link .link_list {
	color: rgb(136, 136, 136); line-height: 1.8; margin-top: 10px;
}
.area_link .link_list span {
	margin: 0px 10px;
}
.area_link .ft {
	color: rgb(136, 136, 136); margin-top: 30px;
}
.area_link .ft span {
	margin: 0px 3px;
}
.area_link a {
	color: rgb(136, 136, 136); -ms-word-wrap: break-word;
}
.area_link a:hover {
	color: rgb(186, 38, 54);
}
.ne_ua_ie6 .area_top_news .mod_slide_focus .scroll_body {
	position: relative;
}
.ne_ua_ie7 .area_top_news .mod_slide_focus .scroll_body {
	position: relative;
}
.ne_ua_ie6 .area_top_news .mod_slide_focus .panels .panel {
	left: 0px; top: 0px; display: none; position: absolute;
}
.ne_ua_ie7 .area_top_news .mod_slide_focus .panels .panel {
	left: 0px; top: 0px; display: none; position: absolute;
}
.ne_ua_ie6 .area_top_news .mod_slide_focus .panels .panel .bg {
	bottom: -1px;
}
.ne_ua_ie7 .area_top_news .mod_slide_focus .panels .panel .bg {
	bottom: -1px;
}
.ne_ua_ie6 .area_top_news .mod_slide_focus .panels .current {
	display: block;
}
.ne_ua_ie7 .area_top_news .mod_slide_focus .panels .current {
	display: block;
}
.ne_ua_ie6 .area_news_type .col_r .scroll_body {
	width: 300px; overflow: hidden;
}
.ne_ua_ie7 .area_news_type .col_r .scroll_body {
	width: 300px; overflow: hidden;
}
.ne_ua_ie6 .news_pic_list li {
	position: static;
}
.ne_ua_ie7 .news_pic_list li {
	position: static;
}
.ne_ua_ie6 .news_pic_list .bg {
	display: none;
}
.ne_ua_ie7 .news_pic_list .bg {
	display: none;
}
.ne_ua_ie6 .news_pic_list h3 {
	background: rgb(0, 0, 0); width: 170px; height: 25px; line-height: 28px; overflow: hidden; padding-left: 10px; margin-top: -25px; position: static;
}
.ne_ua_ie7 .news_pic_list h3 {
	background: rgb(0, 0, 0); width: 170px; height: 25px; line-height: 28px; overflow: hidden; padding-left: 10px; margin-top: -25px; position: static;
}
.ne_ua_ie8 .area_top_news .head_news label {
	line-height: 22px;
}
.ne_ua_ie8 .area_top_news .head_news h2 {
	margin-top: -2px;
}
