html {
	height: 100%;
}
body {
	height: 100%;
}
html {
	background: rgb(255, 255, 255); color: rgb(51, 51, 51); -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; text-rendering: optimizelegibility; -moz-osx-font-smoothing: grayscale;
}
html.borderbox * {
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
html.borderbox *::before {
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
html.borderbox *::after {
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
body {
	margin: 0px; padding: 0px;
}
dl {
	margin: 0px; padding: 0px;
}
dt {
	margin: 0px; padding: 0px;
}
dd {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
ol {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
h1 {
	margin: 0px; padding: 0px;
}
h2 {
	margin: 0px; padding: 0px;
}
h3 {
	margin: 0px; padding: 0px;
}
h4 {
	margin: 0px; padding: 0px;
}
h5 {
	margin: 0px; padding: 0px;
}
h6 {
	margin: 0px; padding: 0px;
}
pre {
	margin: 0px; padding: 0px;
}
code {
	margin: 0px; padding: 0px;
}
form {
	margin: 0px; padding: 0px;
}
fieldset {
	margin: 0px; padding: 0px;
}
legend {
	margin: 0px; padding: 0px;
}
input {
	margin: 0px; padding: 0px;
}
textarea {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
blockquote {
	margin: 0px; padding: 0px;
}
th {
	margin: 0px; padding: 0px;
}
td {
	margin: 0px; padding: 0px;
}
hr {
	margin: 0px; padding: 0px;
}
button {
	margin: 0px; padding: 0px;
}
article {
	margin: 0px; padding: 0px;
}
aside {
	margin: 0px; padding: 0px;
}
details {
	margin: 0px; padding: 0px;
}
figcaption {
	margin: 0px; padding: 0px;
}
figure {
	margin: 0px; padding: 0px;
}
footer {
	margin: 0px; padding: 0px;
}
header {
	margin: 0px; padding: 0px;
}
menu {
	margin: 0px; padding: 0px;
}
nav {
	margin: 0px; padding: 0px;
}
section {
	margin: 0px; padding: 0px;
}
article {
	display: block;
}
aside {
	display: block;
}
details {
	display: block;
}
figcaption {
	display: block;
}
figure {
	display: block;
}
footer {
	display: block;
}
header {
	display: block;
}
menu {
	display: block;
}
nav {
	display: block;
}
section {
	display: block;
}
audio {
	display: inline-block;
}
canvas {
	display: inline-block;
}
video {
	display: inline-block;
}
body {
	font-family: "Microsoft Yahei","宋体",Helvetica Neue,Helvetica,Arial,Sans-serif; font-size: 12px;
}
button {
	font-family: "Microsoft Yahei","宋体",Helvetica Neue,Helvetica,Arial,Sans-serif; font-size: 12px;
}
input {
	font-family: "Microsoft Yahei","宋体",Helvetica Neue,Helvetica,Arial,Sans-serif; font-size: 12px;
}
select {
	font-family: "Microsoft Yahei","宋体",Helvetica Neue,Helvetica,Arial,Sans-serif; font-size: 12px;
}
textarea {
	font-family: "Microsoft Yahei","宋体",Helvetica Neue,Helvetica,Arial,Sans-serif; font-size: 12px;
}
button {
	line-height: normal;
}
input {
	line-height: normal;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
th {
	text-align: inherit;
}
fieldset {
	border: 0px currentColor; border-image: none;
}
img {
	border: 0px currentColor; border-image: none;
}
img {
	border: 0px currentColor; border-image: none; -ms-interpolation-mode: bicubic;
}
iframe {
	display: block;
}
ul {
	list-style: none;
}
ol {
	list-style: none;
}
a:link {
	color: rgb(51, 51, 51); text-decoration: none;
}
a:visited {
	color: rgb(51, 51, 51); text-decoration: none;
}
a:hover {
	color: rgb(75, 174, 59); text-decoration: underline;
}
[draggable] {
	cursor: move;
}
.clearfix::before {
	display: table; content: "";
}
.clearfix::after {
	display: table; content: "";
}
.clearfix::after {
	clear: both;
}
.clearfix {
	
}
body {
	margin: 0px; font-size: 12px;
}
#global_nav {
	margin: 0px auto; padding: 0px;
}
#global_nav #nav {
	margin: 0px auto; padding: 0px; width: 928px; height: 179px; font-family: ""; position: relative; background-repeat: no-repeat;
}
#nav .ci123_logo {
	background: url("/style2014/images/ci123_logo.gif") no-repeat; height: 179px;
}
#nav .nav_tool {
	background: url("/style2014/images/nav_tool.gif") no-repeat; width: 189px; height: 27px; text-align: center; color: rgb(246, 41, 147); padding-top: 3px; margin-top: 22px; margin-right: 7px; float: right;
}
#nav ul {
	margin: 0px; padding: 0px; list-style-type: none;
}
#nav ul li {
	display: inline;
}
#nav .nav_tool a {
	color: rgb(246, 41, 147); text-decoration: none;
}
#nav .nav_tool .s {
	padding-right: 0px; padding-left: 0px;
}
#navb {
	top: 30px; width: 928px; height: 30px; clear: both; position: relative;
}
#navb li {
	height: 30px; color: rgb(204, 99, 0); overflow: visible; display: block; position: absolute;
}
#navb li.a {
	background: url("/style2014/images/nav_mall_left.gif") no-repeat 0px 6px; left: 87px; padding-left: 2px; z-index: 50;
}
#navb li.a a:hover span {
	background: url("/style2014/images/tabnavi.gif") right -104px; padding: 14px 15px 4px 0px; line-height: 12px; display: block;
}
#navb li.a span {
	background: url("/style2014/images/tabnavi.gif") right -104px; display: block;
}
#navb li.b {
	left: 162px; z-index: 49;
}
#navb li.c {
	left: 222px; z-index: 48;
}
#navb li.d {
	left: 294px; z-index: 47;
}
#navb li.e {
	left: 353px; z-index: 46;
}
#navb li.f {
	left: 412px; z-index: 45;
}
#navb li.g {
	left: 483px; z-index: 44;
}
#navb li.h {
	left: 590px; z-index: 43;
}
#navb li.i {
	left: 684px; z-index: 42;
}
#navb li.j {
	left: 780px; z-index: 41;
}
#navb li a {
	background: url("/style2014/images/tabnavi.gif") left -65px; text-align: left; color: rgb(204, 99, 0); padding-left: 15px; text-decoration: none; display: block;
}
#navb li.a a {
	background: none;
}
#navb li.a a:hover {
	background: none;
}
#navb li a span {
	background: url("/style2014/images/tabnavi.gif") right -104px; padding: 14px 15px 4px 0px; line-height: 12px; display: block; white-space: nowrap; cursor: pointer;
}
#navb li a:hover {
	background: url("/style2014/images/tabnavi.gif") left 0px; color: rgb(255, 0, 0);
}
#navb li a:hover span {
	background: url("/style2014/images/tabnavi.gif") right -31px; padding: 12px 15px 6px 0px; font-weight: bold;
}
#navb li.on a {
	background: url("/style2014/images/tabnavi.gif") left 0px;
}
#navb .on span {
	background: url("/style2014/images/tabnavi.gif") right -31px !important; padding-top: 12px; padding-bottom: 6px; font-weight: bold !important;
}
#nav #nav_big {
	width: 928px; height: 30px; color: rgb(204, 101, 0); margin-top: 30px; float: left; position: relative;
}
#nav #nav_big ul {
	margin-left: 90px;
}
#nav #nav_big li {
	height: 30px; display: block; position: absolute;
}
#nav #nav_big li .t {
	background: url("/style2014/images/tabnavi.gif") 0px -64px; text-align: center; float: left; display: block;
}
#nav #nav_big li a {
	background: url("/style2014/images/tabnavi.gif") right -96px; color: rgb(204, 101, 0); text-decoration: none; margin-top: 6px; float: left; display: block; z-index: 50;
}
#nav #nav_big .nav_mall {
	background: url("/style2014/images/nav_mall_left.gif") no-repeat !important; padding: 6px 12px 4px; float: left;
}
#nav #nav_big .nav_big_left {
	background: url("/style2014/images/nav_menu_right2.gif") no-repeat right !important; float: left; z-index: 10;
}
#nav #nav_big div {
	padding: 6px 12px 4px 13px; float: left;
}
#nav #nav_small {
	background: url("/style2014/images/nav_menu2_bg.gif") repeat-x; width: 858px; height: 31px; margin-top: 30px; margin-left: 70px; float: left; display: inline;
}
#nav #nav_small .nav_menu2_right {
	background: url("/style2014/images/nav_menu2_right.gif") no-repeat right; height: 31px;
}
#nav #nav_small a {
	height: 31px; color: rgb(255, 255, 255); font-weight: bold; text-decoration: none; float: left; display: block;
}
#nav #nav_small span {
	padding: 10px 8px 0px; float: left; display: block; cursor: pointer;
}
#nav #nav_small a:hover {
	background: url("/style2014/images/nav_menu2_block.gif") no-repeat;
}
#nav #nav_small a.tab_on {
	background: url("/style2014/images/nav_menu2_block.gif") no-repeat;
}
#nav #nav_small a:hover span {
	background: url("/style2014/images/nav_menu2_block2.gif") no-repeat right 0px; padding: 10px 8px 0px; color: rgb(255, 5, 111); float: left; display: block;
}
#nav #nav_small a.tab_on span {
	background: url("/style2014/images/nav_menu2_block2.gif") no-repeat right 0px; padding: 10px 8px 0px; color: rgb(255, 5, 111); float: left; display: block;
}
#nav #nav_small .s {
	padding: 10px 0px 0px; color: rgb(255, 255, 255); float: left;
}
#nav #nav_menu3 {
	background: url("/style2014/images/nav_menu3_bg.gif") repeat-x; width: 928px; height: 36px; float: left;
}
#nav #nav_menu3 #nav_menu3_list {
	width: 560px; float: left;
}
#nav #nav_menu3 #nav_search {
	width: 360px; padding-top: 10px; float: left;
}
#nav #nav_menu3 ul {
	margin: 0px 0px 0px 20px; padding: 0px; height: 36px; float: left; display: block;
}
#nav #nav_menu3 li {
	float: left;
}
#nav #nav_menu3 a {
	padding: 0px 10px; color: rgb(51, 51, 51); text-decoration: none; margin-top: 10px; float: left;
}
#nav #nav_menu3 a:hover {
	text-decoration: underline;
}
#nav #nav_menu3 .s {
	background: url("/style2014/images/nav_menu3_s.gif") no-repeat center; width: 3px; height: 36px; float: left; display: block;
}
#nav #nav_search .keyword {
	padding-right: 10px; float: left;
}
.searchbar {
	width: 210px;
}
#search_sub {
	background: url("/style2014/images/search_sub.gif") no-repeat left top; border: currentColor; border-image: none; width: 60px; height: 21px;
}
#ask_sub {
	background: url("/style2014/images/search_sub.gif") no-repeat left top; border: currentColor; border-image: none; width: 60px; height: 21px;
}
.new_menu {
	background: url("http://www.ci123.com/img/new_85_1.gif"); top: 110px; width: 27px; height: 25px; margin-left: 60px; position: absolute; z-index: 1001;
}
#city_nav {
	background: url("/style2014/images/nav_city_bg_160.gif") left; top: 54px; width: 160px; height: 21px; text-align: center; right: 8px; line-height: 21px; position: absolute; z-index: 99; _right: 14px;
}
#city_nav span {
	color: red; font-family: Arial; font-style: italic; font-weight: bold; margin-right: 5px;
}
#city_nav a {
	color: rgb(0, 78, 255); text-decoration: none;
}
#city_nav a:hover {
	text-decoration: underline;
}
.nav_new_s {
	background: url("/style2014/images/nav_new.gif") no-repeat left top; top: 0px; width: 26px; height: 14px; right: -9px; position: absolute; z-index: 99;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.fl {
	_display: inline;
}
.fr {
	_display: inline;
}
.h2_bg {
	height: 32px; line-height: 32px; overflow: hidden; font-size: 18px; position: relative;
}
.h2_bg i {
	top: 15px; width: 160px; height: 0px; right: 0px; overflow: hidden; font-size: 0px; border-bottom-color: rgb(227, 227, 227); border-bottom-width: 1px; border-bottom-style: solid; position: absolute;
}
.h2_bg .h2_tab_bg .icon_1 {
	color: rgb(51, 51, 51); font-family: "Microsoft Yahei"; font-size: 14px;
}
.h2_bg .h2_tab_bg .icon_new {
	color: rgb(75, 174, 59); font-size: 18px; font-weight: bold;
}
.border_pink {
	margin-top: 27px;
}
span.more {
	margin: 0px 8px 0px 0px; font-size: 12px; float: right; _margin: -24px 8px 0 0;
}
span.more a {
	color: rgb(230, 13, 100);
}
#wrapper {
	background: rgb(255, 255, 255); margin: 0px auto; width: 960px; overflow: hidden; padding-top: 14px;
}
.clearfix#top_content {
	border: currentColor; border-image: none; margin-top: 0px;
}
#t_left {
	width: 222px; overflow: hidden; float: left; _display: inline;
}
#analytic {
	height: 235px; margin-top: 15px;
}
#help {
	margin-top: 18px;
}
#ask_cat {
	margin-top: 10px;
}
#kind_notice {
	margin-top: 10px;
}
#new_question {
	margin-top: 10px;
}
#new_question {
	width: 433px; margin-top: 18px;
}
#difficult {
	width: 100%; height: auto; margin-top: 20px;
}
#difficult .h2_bg {
	margin-right: 3px; margin-left: 3px;
}
#recent {
	margin-top: 20px;
}
#challenge {
	margin-top: 20px;
}
#wanted .goldnum {
	width: 30px; text-align: right; color: rgb(109, 189, 96); font-family: "宋体"; font-size: 12px; font-weight: bold;
}
#wanted .gold {
	background: url("/style2014/images/ask_sprite.png") no-repeat -49px -6px; width: 15px; height: 22px; margin-left: 46px; _background: url(/style2014/images/ask_8bit_sprite.png) no-repeat -49px -6px;
}
#magazine {
	width: 216px; margin-top: 18px;
}
#magazine .content {
	padding: 15px 6px 4px 10px; width: 196px;
}
#magazine img {
	margin-right: 8px; float: left;
}
#magazine ul li {
	margin: 8px 0px; line-height: 20px;
}
#t_center {
	width: 433px; overflow: hidden; margin-top: 13px; margin-left: 35px; float: left; _display: inline;
}
#t_center .center_input {
	height: 33px;
}
#t_center .center_input .fl {
	background: url("/style2014/images/ask_bc.png") no-repeat 0px 0px; width: 177px; height: 20px; _background: url(/style2014/images/ask_8bit_bc.png) no-repeat 0 0;
}
#t_center .center_input .fr {
	background: url("/style2014/images/ask_sprite.png") no-repeat -7px -89px; width: 155px; height: 23px; color: rgb(140, 140, 140); line-height: 23px; overflow: hidden; padding-left: 10px; font-size: 12px; white-space: nowrap; -ms-text-overflow: ellipsis; _background: url(/style2014/images/ask_8bit_sprite.png) no-repeat -7px -89px;
}
#bulletin {
	background: rgb(254, 239, 236); border: 1px solid rgb(255, 152, 181); border-image: none; height: 24px; line-height: 24px; overflow: hidden; padding-left: 9px;
}
#bulletin ul {
	width: 350px; float: left;
}
.question_list {
	padding: 17px 0px 0px; font-size: 14px;
}
.question_list dt {
	color: rgb(153, 153, 153);
}
.question_list dt a {
	color: rgb(153, 153, 153);
}
.question_list dl {
	height: 28px; line-height: 28px;
}
.question_list .u {
	width: 91px; text-align: right; color: rgb(153, 153, 153); overflow: hidden; font-size: 12px; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.question_list .u a {
	color: rgb(153, 153, 153); font-size: 12px;
}
.listshow {
	width: 210px; margin-top: 10px; z-index: 2;
}
.more {
	position: relative; z-index: 2;
}
.listshow li {
	background: url("/style2014/images/ask_sprite.png") no-repeat -3px -50px; width: 75px; height: 25px; color: rgb(51, 51, 51); line-height: 25px; overflow: hidden; padding-left: 17px; margin-right: 10px; margin-bottom: 10px; float: left; display: inline; _background: url(/style2014/images/ask_8bit_sprite.png) no-repeat -3px -50px;
}
.listshow li.currentselect {
	background: url("/style2014/images/ask_sprite.png") no-repeat -3px -73px rgb(109, 189, 96); color: rgb(255, 255, 255); _background: url(/style2014/images/ask_8bit_sprite.png) no-repeat -3px -73px;
}
.listshow li.currentselect a {
	color: rgb(255, 255, 255); text-decoration: none;
}
.listshow li a {
	color: rgb(51, 51, 51); font-size: 14px;
}
.que_type {
	background: rgb(243, 243, 243); padding: 0px 10px; width: 202px;
}
.que_type .h2_bg {
	width: 185px; padding-left: 5px; font-size: 16px; border-bottom-color: rgb(233, 233, 233); border-bottom-width: 1px; border-bottom-style: solid;
}
.que_type .h2_bg .h2_tab_bg .icon_1 {
	font-size: 16px;
}
#kind_notice p {
	background: url("/style2014/images/read_bc.png") no-repeat 13px 23px; width: 222px; height: 139px; color: rgb(153, 153, 153); line-height: 24px; overflow: hidden; _background: url(/style2014/images/read_8bit_bc.png) no-repeat 13px 23px;
}
#kind_notice p a {
	color: rgb(75, 174, 59);
}
#kind_notice p span {
	margin: 10px auto 0px; width: 156px; height: 134px; line-height: 22px; overflow: hidden; font-size: 14px; display: block;
}
#analytic ul {
	margin: 14px 0px 0px; padding-bottom: 10px;
}
#analytic ul li {
	background: rgb(243, 243, 243); width: 106px; height: 86px; color: rgb(51, 51, 51); margin-bottom: 10px; float: left; display: inline;
}
.listshow2 li div {
	text-align: center; color: rgb(51, 51, 51); font-size: 14px;
}
.listshow2 li div.num {
	color: rgb(109, 189, 96); font-size: 12px;
}
.listshow2 li i {
	margin: 10px auto 5px; display: block; background-image: url("/style2014/images/ask_sprite.png"); _background-image: url(/style2014/images/ask_8bit_sprite.png);
}
.listshow2 li i.total_ask {
	background-position: -7px -174px; width: 20px; height: 28px;
}
.listshow2 li i.has_resolve {
	background-position: -5px -219px; width: 35px; height: 28px;
}
.listshow2 li i.has_ask {
	background-position: -5px -122px; width: 36px; height: 31px;
}
.listshow2 li i.ask_precent {
	background-position: -5px -268px; width: 36px; height: 31px;
}
.listshow3 li {
	background: url("/style2014/images/ask_sprite.png") no-repeat -46px -28px; line-height: 1.8em; padding-left: 20px; _background: url(/style2014/images/ask_8bit_sprite.png) no-repeat -46px -28px;
}
.listshow3 {
	margin: 32px 0px 0px 10px;
}
#help .listshow3 {
	background: rgb(243, 243, 243); padding: 20px 0px 20px 25px; margin-top: 13px; margin-left: 0px;
}
#help .listshow3 li {
	height: 28px; line-height: 28px;
}
.listshow3 li {
	width: 190px; height: 31px; color: rgb(102, 102, 102); line-height: 31px; overflow: hidden; font-size: 14px;
}
.question_list dl dt {
	float: left; _display: inline;
}
.question_list dl dd {
	float: left; _display: inline;
}
.question_list dl dt {
	width: 90px; overflow: hidden;
}
.question_list dl dd.question_title {
	width: 252px; height: 27px; overflow: hidden;
}
#challenge .question_list dl dt {
	background: url("/style2014/images/listgray.png") no-repeat 0px 0px; width: 380px; _background: url(/style2014/images/listgray_8bit.png) no-repeat 0 0;
}
#challenge .question_list dl dt a {
	color: rgb(51, 51, 51); margin-left: 12px;
}
#challenge .question_list dl dt a:hover {
	color: rgb(75, 174, 59);
}
#challenge .question_list dl dd {
	width: 53px; text-align: right; color: rgb(153, 153, 153); font-size: 12px;
}
#wanted_get {
	background: rgb(255, 255, 224); border: 1px solid rgb(255, 165, 0); border-image: none; height: 24px; line-height: 24px; overflow: hidden; padding-left: 9px;
}
#wanted_get ul {
	width: 350px; float: left;
}
#wanted_get h3 {
	color: red; margin-right: 4px; float: left; display: inline;
}
#t_right {
	width: 210px; overflow: hidden; margin-left: 48px; float: right; _display: inline;
}
.save_password {
	margin-left: 30px; float: left; display: inline;
}
.get_password a {
	color: rgb(251, 0, 4);
}
.help {
	margin-left: 12px; float: left; display: inline;
}
.reg {
	margin-left: 12px; float: left; display: inline;
}
.help {
	margin-left: 30px;
}
.login_box h3 {
	margin: 20px 10px 15px; text-align: center; padding-top: 12px; border-top-color: rgb(255, 175, 200); border-top-width: 1px; border-top-style: solid;
}
#user_center {
	text-align: left; padding-bottom: 15px;
}
#user_center img {
	margin: 11px 11px 0pt 9px; border: 1px solid rgb(253, 163, 189); border-image: none; float: left;
}
#user_center ol li {
	float: left;
}
#user_center ul {
	border: 0pt currentColor; border-image: none;
}
#user_center ul li {
	height: 22px; line-height: 22px;
}
#user_center ul li a:hover {
	text-decoration: underline;
}
#user_center ol li.u_info {
	width: 111px; overflow: hidden; margin-top: 11px;
}
#user_center ol li.u_info a {
	padding-left: 1.2em;
}
#user_center ol li em {
	line-height: 20px; font-weight: bold; display: block;
}
#user_center ol li em span {
	font-weight: normal;
}
#user_center ol a {
	color: rgb(102, 102, 102); font-weight: normal; text-decoration: none;
}
#user_center ol a:hover {
	color: rgb(255, 102, 0);
}
#user_center ol a strong {
	color: rgb(255, 102, 0); padding-right: 2px; font-family: Georgia; font-weight: bold;
}
#user_center ul {
	padding-top: 5px;
}
#user_center ul li a {
	color: rgb(228, 126, 2); font-weight: normal;
}
#best_answer {
	width: 214px; margin-top: 20px;
}
.h2_bg .h2_tab_bg .icon_best {
	font-size: 16px;
}
#top_answer {
	width: 208px; margin-top: 7px; position: relative; z-index: 2;
}
#top_answer span {
	margin-top: 10px; display: block;
}
#top_answer span.answer1 {
	height: 37px;
}
#top_answer span.answer2 {
	height: 60px;
}
#top_answer span i {
	float: left; _display: inline;
}
#top_answer span i {
	width: 25px; height: 25px; background-image: url("/style2014/images/ask_sprite.png"); background-repeat: no-repeat; _background-image: url(/style2014/images/ask_8bit_sprite.png);
}
#top_answer span .txt {
	width: 166px; line-height: 18px; overflow: hidden; margin-top: 5px; margin-left: 13px; float: left; _display: inline;
}
#top_answer span .txt1 {
	color: rgb(51, 51, 51); font-size: 14px;
}
#top_answer span .txt2 {
	height: 54px; color: rgb(153, 153, 153); font-size: 14px;
}
#top_answer span i.ask {
	background-position: -12px -318px;
}
#top_answer span i.answer {
	background-position: -12px -367px;
}
#smart_parents {
	margin: 25px 0px 0px; width: 960px; height: 170px;
}
#smart_parents .clearfix {
	border: currentColor; border-image: none; width: 960px; overflow: hidden; z-index: 2;
}
#kind_user {
	margin: 25px 0px 0px; width: 960px; height: 174px;
}
#kind_user .u {
	height: 18px; color: rgb(51, 51, 51); overflow: hidden; margin-top: 10px; white-space: nowrap;
}
#kind_user li {
	height: 120px;
}
#kind_user li a img {
	font-size: 0px;
}
#kind_user .clearfix {
	border: currentColor; border-image: none; position: absolute; z-index: 2;
}
#smart_parents ul {
	padding-top: 23px;
}
#kind_user ul {
	padding-top: 23px;
}
#smart_parents ul li {
	width: 75px; text-align: center; overflow: hidden; margin-right: 23px; float: left; display: inline;
}
#kind_user ul li {
	width: 75px; text-align: center; overflow: hidden; margin-right: 23px; float: left; display: inline;
}
#smart_parents ul li a {
	margin-bottom: 5px; display: block;
}
#kind_user ul li a {
	margin-bottom: 5px; display: block;
}
#smart_parents ul li span {
	margin-bottom: 5px; display: block;
}
#smart_parents ul li span label {
	color: rgb(76, 175, 60);
}
#scroll_info {
	margin: 8px auto; border: 1px solid rgb(234, 234, 234); border-image: none; width: 960px; height: 33px; line-height: 33px;
}
#scroll_info .rows {
	margin: 0px 32px 0px 15px;
}
#scroll_info .t {
	color: rgb(51, 51, 51); font-size: 14px; font-weight: bold; float: left;
}
#scroll_info .c {
	width: 806px; color: rgb(153, 153, 153); float: right;
}
#scroll_info .c a {
	background: url("/style2014/images/dot.png") no-repeat 0px 7px; padding-left: 7px; _background: url(/style2014/images/dot_8bit.png) no-repeat 0 7px;
}
#footer {
	margin: 20px auto 12px; text-align: center; color: rgb(102, 102, 102);
}
#footer ul {
	margin: 0px auto; width: 780px; text-align: center; overflow: hidden; -ms-zoom: 1;
}
#footer ul li {
	padding: 4px 8px 4px 0px; float: left; display: inline;
}
#footer .foot_nave_bg {
	background: rgb(227, 227, 227); margin: 8px 0px; padding: 5px 0px;
}
#footer p {
	text-align: center; padding-bottom: 15px; clear: both;
}
#footer a {
	color: rgb(51, 51, 51); text-decoration: none;
}
#footer a:hover {
	text-decoration: underline;
}
#ad_01 {
	margin: 10px auto;
}
#ad_02 {
	margin: 10px auto;
}
#ad_03 {
	margin: 10px auto;
}
#ad_04 {
	margin: 10px auto;
}
#ad_05 {
	margin-top: 10px; margin-left: 8px;
}
.h2_bg .hd_left {
	float: left;
}
.h2_bg .hd_more {
	font-size: 12px; float: right; display: inline;
}
.h2_bg .hd_more a {
	color: rgb(153, 153, 153); font-weight: normal;
}
.h2_bg .hd_more span.more {
	margin: 0px; font-family: "Arial";
}
.user-box {
	background: rgb(242, 242, 242); width: 210px; height: 202px; text-align: center; overflow: hidden;
}
.user-box .no-log-in {
	margin: 14px auto 0px; width: 188px;
}
.user-box .no-log-in .title {
	text-align: left; line-height: 30px; font-size: 14px; font-weight: bold; border-bottom-color: rgb(212, 210, 196); border-bottom-width: 1px; border-bottom-style: solid;
}
.user-box .no-log-in .login-submit .submit-btn {
	border-radius: 4px; border: 0px currentColor; border-image: none; width: 54px; height: 54px; color: rgb(255, 255, 255); line-height: 54px; font-size: 18px; background-color: rgb(251, 138, 118); _height: 50px;
}
#login-form {
	margin-top: 18px;
}
.user-box .no-log-in .login-submit .submit-btn:hover {
	background-color: rgb(248, 148, 124);
}
.user-box .no-log-in .login-submit ul {
	width: 121px; line-height: 24px; float: left;
}
.user-box .no-log-in .login-submit ul li {
	height: 24px; line-height: 24px; margin-bottom: 6px; _margin-bottom: 4px;
}
.user-box .no-log-in .login-submit ul li label {
	height: 24px; line-height: 24px; vertical-align: middle; display: inline-block; _margin-top: -6px;
}
.user-box .no-log-in .login-submit ul li input {
	border: 1px solid rgb(199, 199, 199); border-image: none; width: 100px; height: 18px; padding-top: 2px; padding-bottom: 2px; padding-left: 8px;
}
.user-box .no-log-in .save-password {
	height: 20px; line-height: 20px; padding-top: 6px; padding-bottom: 6px; vertical-align: middle;
}
.user-box .no-log-in .save-password label {
	float: left;
}
.user-box .no-log-in .save-password .rememberme {
	margin-top: 3px; margin-right: 4px; float: left; _display: inline; _margin-top: -1px;
}
.user-box .no-log-in .save-password .line {
	background: rgb(199, 199, 199); margin: 4px 6px; width: 1px; height: 12px; line-height: 0; font-size: 0px; float: left; _display: inline;
}
.user-box .no-log-in .save-password a {
	float: left;
}
.user-box .no-log-in .save-password a.register {
	color: rgb(90, 175, 78);
}
.user-box .no-log-in .login-link span {
	line-height: 20px; float: left;
}
.user-box .no-log-in .login-link a {
	width: 22px; height: 22px; padding-right: 4px; padding-left: 4px; float: left; background-image: url("../images/bd.png"); background-repeat: no-repeat; _background-image: url(../images/bd_8bit.png);
}
.user-box .no-log-in .login-link a.lg_qq {
	background-position: -7px -169px;
}
.user-box .no-log-in .login-link a.lg_sina {
	background-position: -35px -169px;
}
.user-box .no-log-in .login-link a.lg_ren {
	background-position: -64px -169px;
}
.user-box .log-in {
	margin: 14px auto 0px; width: 160px;
}
.user-box .log-in .welcom {
	width: 153px; height: 24px; line-height: 24px; overflow: hidden; margin-bottom: 10px; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.user-box .log-in .welcom b {
	color: rgb(90, 175, 78);
}
.user-box .log-in .user-info {
	padding-bottom: 10px; margin-bottom: 8px;
}
.user-box .log-in .user-info dt {
	float: left;
}
.user-box .log-in .user-info dd {
	width: 69px; float: right;
}
.user-box .log-in .user-info dd li {
	width: 50px; height: 20px; overflow: hidden; padding-left: 19px; background-image: url("http://www.ci123.com/index/style/i2011/lg_bg2.png"); background-repeat: no-repeat;
}
.user-box .log-in .user-info dd li.user1 {
	background-position: 2px -27px;
}
.user-box .log-in .user-info dd li.user2 {
	background-position: 2px -49px;
}
.user-box .log-in .user-info dd li.user3 {
	background-position: 1px -70px;
}
.user-box .log-in .user-info dd li.user4 {
	background-position: 2px -89px; height: 19px;
}
.user-box .log-in .user-rela li {
	height: 32px; float: left; _display: inline;
}
.user-box .log-in .user-rela li a:hover {
	color: rgb(75, 174, 59); text-decoration: none;
}
.user-box .log-in .user-rela li a:hover .num {
	color: rgb(75, 174, 59);
}
.user-box .log-in .user-rela li a:hover .txt {
	color: rgb(75, 174, 59);
}
.user-box .log-in .user-rela li .num {
	text-align: center; color: rgb(51, 51, 51); font-weight: bold;
}
.user-box .log-in .user-rela li .txt {
	text-align: center; color: rgb(102, 102, 102);
}
.user-box .log-in .user-rela li.user-rela-blog {
	width: 52px; border-right-color: rgb(225, 225, 225); border-right-width: 1px; border-right-style: solid;
}
.user-box .log-in .user-rela li.user-rela-weibo .num {
	text-align: center;
}
.user-box .log-in .user-rela li.user-rela-weibo .txt {
	text-align: center;
}
.user-box .log-in .user-rela li.user-rela-weibo {
	width: 53px; border-right-color: rgb(225, 225, 225); border-right-width: 1px; border-right-style: solid;
}
.user-box .log-in .user-rela li.user-rela-baby {
	width: 52px; text-align: right;
}
.top-ac {
	margin: 0px auto; width: 960px;
}
.top-ac img {
	margin-top: 12px;
}
.top-search {
	margin: 0px auto; padding: 10px 0px; width: 960px; height: 44px;
}
.top-search h2 {
	background-position: 120px 16px; width: 400px; line-height: 44px; font-size: 28px; float: left; background-image: url("/style2014/images/web-title.jpg"); background-repeat: no-repeat;
}
.top-search h2 span {
	color: rgb(90, 175, 78);
}
.top-search ul {
	margin-left: 22px; float: right;
}
.top-search ul li {
	width: 43px; height: 44px; text-align: left; color: rgb(108, 108, 108); line-height: 44px; font-size: 14px; float: left;
}
.top-search ul li a {
	color: rgb(153, 153, 153);
}
.top-search ul li a:hover {
	color: rgb(75, 174, 59);
}
.top-search .webform {
	height: 30px; padding-top: 7px; padding-bottom: 7px; float: right;
}
.webform2 {
	position: relative;
}
.webform2 input {
	border: currentColor; border-image: none; height: 30px; color: rgb(51, 51, 51); line-height: 30px; padding-top: 5px; padding-bottom: 5px; padding-left: 10px; font-size: 16px; float: left;
}
.top-search .webform input {
	border: currentColor; border-image: none; height: 16px; color: rgb(102, 102, 102); line-height: 16px; padding-top: 6px; padding-bottom: 6px; padding-left: 10px; font-size: 12px; float: left; _line-height: 19px;
}
.top-search .webform .search-txt {
	width: 260px;
}
.webform2 .search-txt {
	width: 329px; overflow: hidden; border-right-color: currentColor; border-right-width: medium; border-right-style: none; _width: 329px;
}
.top-search .webform .search-btn {
	background-position: 2px -3px; padding: 0px; border: currentColor; border-image: none; width: 80px; height: 28px; cursor: pointer; background-image: url("/style2014/images/ask_sprite.png"); background-repeat: no-repeat; background-color: rgb(242, 242, 242); _background-image: url(/style2014/images/ask_8bit_sprite.png); _height: 29px;
}
.webform2 .search-btn {
	background-position: 2px -3px; padding: 0px; width: 88px; height: 46px; color: rgb(255, 255, 255); font-size: 16px; border-left-width: 6px; cursor: pointer; background-repeat: no-repeat; background-color: rgb(109, 189, 96);
}
.webform2 .search-btn:hover {
	border-color: rgb(130, 203, 118); background-color: rgb(130, 203, 118);
}
.sub-nav {
	height: 38px; background-color: rgb(109, 189, 96);
}

.sub-nav ul {
	margin: 0px auto;
}
.sub-nav li {
	height: 38px; float: left; _display: inline;
}
.sub-nav li a {
	width: 100px; text-align: center; color: rgb(255, 255, 255); line-height: 38px; font-size: 16px; display: inline-block;
}
.sub-nav li a.honor-sub-nav {
	width: 70px;
}
.sub-nav li a.big-sub-nav {
	width: 129px;
}
.sub-nav li a:link {
	color: rgb(255, 255, 255);
}
.sub-nav li a:visited {
	color: rgb(255, 255, 255);
}
.sub-nav li a:hover {
	text-decoration: none; background-color: rgb(90, 175, 78); _color: #fff;
}
.sub-nav .cur-sub-nav {
	background-color: rgb(90, 175, 78);
}

/*首页菜单样式 start*/
.index-nav {
	height: 38px; background-color: #f35b8f;
}
.index-nav ul {
	margin: 0px auto;
}
.index-nav li {
	height: 38px; float: left; _display: inline;
}
.index-nav li a {
	width: 100px; text-align: center; color: #e4447a; line-height: 38px; font-size: 16px; display: inline-block;
}
.index-nav li a.honor-sub-nav {
	width: 70px;
}
.index-nav li a.big-sub-nav {
	width: 129px;
}
.index-nav li a:link {
	color: rgb(255, 255, 255);
}
.index-nav li a:visited {
	color: rgb(255, 255, 255);
}
.index-nav li a:hover {
	text-decoration: none; background-color: #e4447a; _color: #fff;
}
.index-nav .cur-sub-nav {
	background-color: #e4447a;
}
/*首页菜单样式 end*/

.banner_ads {
	margin-bottom: 12px;
}
.banner_ads div {
	float: left; _display: inline;
}
.banner_ads div.ads_center {
	margin-left: 10px;
}
.banner_ads div.ads_right {
	margin-left: 10px;
}
.h2_bg .h2_tab_bg .icon_game {
	font-size: 16px;
}
#rank {
	border: 1px solid rgb(234, 234, 234); border-image: none; width: 208px; margin-top: 12px;
}
#rank ul {
	margin: 0px auto; width: 188px;
}
#rank ul li {
	padding: 10px 0px; width: 188px; height: 45px; border-top-color: rgb(234, 234, 234); border-top-width: 1px; border-top-style: solid; float: left; _display: inline;
}
#rank ul li a img {
	font-size: 0px; display: block;
}
#rank ul li a img.box {
	margin-right: 8px;
}
#rank ul li a.userimg {
	color: rgb(52, 50, 51); float: left; position: relative; _display: inline;
}
#rank ul li a i {
	background: url("/style2014/images/img_bc.png") no-repeat 0px 0px; width: 45px; height: 45px; position: absolute; _background: url(/style2014/images/img_8bit_bc.png) no-repeat 0 0;
}
#rank ul li .t {
	padding-top: 2px; margin-left: 15px; float: left; _display: inline;
}
#rank ul li .t a {
	display: block;
}
#rank ul li .t span {
	display: block;
}
#rank ul li .t a {
	width: 120px; color: rgb(51, 51, 51); overflow: hidden; font-size: 14px; display: block; white-space: nowrap; -ms-text-overflow: ellipsis;
}
#rank ul li .t a:hover {
	color: rgb(75, 174, 59);
}
#rank ul li .mark {
	padding: 0px 10px 0px 0px; color: rgb(153, 153, 153); line-height: 16px; font-size: 12px;
}
#rank .h2_bg a {
	color: rgb(153, 153, 153); font-size: 12px; font-weight: normal;
}
.list_border {
	margin: 13px 0px 0px;
}
.list_border li {
	overflow: hidden; border-top-color: rgb(234, 234, 234); border-top-width: 1px; border-top-style: solid; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.ask_visiter {
	background: rgb(243, 243, 243); width: 210px; height: 272px; margin-top: 12px;
}
.ask_visiter .visiter_title {
	margin: 11px auto 0px; width: 188px; height: 32px; line-height: 32px; border-bottom-color: rgb(233, 233, 233); border-bottom-width: 1px; border-bottom-style: solid;
}
.ask_visiter .visiter_content {
	margin: 17px auto 0px; width: 188px;
}
.ask_visiter .visiter_content .l {
	width: 78px; height: 95px; overflow: hidden; font-size: 0px;
}
.ask_visiter .visiter_content .l img {
	font-size: 0px; display: block;
}
.ask_visiter .visiter_content .r {
	width: 100px; height: 76px;
}
.ask_visiter .visiter_content .r p {
	margin: 5px 0px 0px 10px; width: 85px; color: rgb(55, 77, 52); line-height: 21px; font-size: 14px; font-weight: bold;
}
.ask_visiter .visiter_content .r .expert_topic {
	background: url("/style2014/images/expert_topic.png") no-repeat; height: 25px; margin-top: 5px;
}
.ask_visiter .visiter_time {
	color: rgb(51, 51, 51); line-height: 28px; font-size: 12px; margin-top: 6px; margin-left: 10px;
}
.ask_visiter .visiter_time font {
	font-size: 14px;
}
.ask_visiter .visiter_name {
	width: 188px; color: rgb(74, 74, 74); line-height: 25px; overflow: hidden; font-size: 14px; margin-left: 10px; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.ask_visiter .visiter_name span {
	color: rgb(168, 168, 168); font-size: 12px;
}
.ask_visiter a.visiter_que {
	background: rgb(109, 189, 96); margin: 15px auto 0px; width: 100px; height: 30px; text-align: center; color: rgb(255, 255, 255); line-height: 30px; font-size: 14px; display: block;
}
.ask_visiter a.visiter_que:hover {
	background: rgb(130, 203, 118); text-decoration: none;
}
.ask_visiter a.visiter_que:link {
	color: rgb(255, 255, 255);
}
.ask_visiter a.visiter_que:visited {
	color: rgb(255, 255, 255);
}
.ask_visiter a.fr {
	color: rgb(153, 153, 153); font-size: 12px;
}
.ask_visiter .h2_bg {
	font-size: 16px;
}
.ask_visiter .h2_bg .h2_tab_bg .icon_1 {
	font-size: 16px;
}
#marqueeBox li {
	width: 156px; overflow: hidden; white-space: nowrap; -ms-text-overflow: ellipsis;
}
#marqueeBox a {
	width: 155px; padding-left: 0px;
}
#ask_cat {
	height: 515px; padding-top: 15px; margin-top: 0px;
}
#kind_notice .ask_content {
	padding: 21px 0px 28px; background-color: rgb(243, 243, 243);
}
#analytic .ask_odd {
	margin-right: 10px;
}
#rank h2 {
	margin: 10px auto 0px; width: 188px;
}
.navi-head {
	margin: 0px; height: 40px; border-bottom-color: rgb(227, 227, 227); border-bottom-width: 1px; border-bottom-style: solid; background-color: rgb(242, 242, 242);
}
.navi-con-block {
	margin: 0px auto; width: 1110px; height: 46px;
}
.navi-left {
	width: 600px; float: left; _display: inline;
}
.page-title-pic {
	background: url("../images/page-title.png") no-repeat 0px 0px; width: 90px; height: 23px; margin-top: 8px; border-right-color: rgb(217, 217, 217); border-right-width: 1px; border-right-style: solid; float: left;
}
.navi-left .hover {
	width: 33px; color: rgb(255, 102, 94); margin-left: -1px; border-right-color: rgb(184, 184, 184); border-left-color: rgb(184, 184, 184); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; background-color: rgb(255, 255, 255);
}
.navi-left .underline {
	top: -2px; width: 80px; height: 2px; display: block; position: absolute; z-index: 4; background-color: rgb(255, 255, 255);
}
.navi-left .underline-spe {
	width: 87px; height: 2px; margin-top: -6px; float: left; display: block; z-index: 4; background-color: rgb(255, 255, 255);
}
.navi-right .underline-spe2 {
	top: -2px; width: 50px; height: 2px; right: 0px; display: block; position: absolute; z-index: 4; background-color: rgb(255, 255, 255); _right: -1px;
}
.navi-right .underline-spe3 {
	top: -2px; width: 42px; height: 2px; right: 0px; font-size: 0px; display: block; position: absolute; z-index: 4; background-color: rgb(255, 255, 255);
}
.nav-item {
	width: 34px; height: 30px; line-height: 19px; padding-top: 13px; padding-right: 11px; padding-left: 36px; font-family: "Microsoft YaHei"; font-size: 14px; float: left; display: inline; position: relative; z-index: 3;
}
.first-page {
	background-position: -25px -4px; width: 34px; height: 30px; text-align: center; line-height: 19px; padding-top: 12px; padding-right: 11px; padding-left: 36px; font-family: "Microsoft YaHei"; font-size: 14px; float: left; display: inline; position: relative; z-index: 3; background-image: url("../images/home.png"); background-repeat: no-repeat; _background-image: url(../images/home_sprite.png);
}
.first-page:link {
	color: rgb(0, 0, 0); text-decoration: none;
}
.first-page:visited {
	color: rgb(0, 0, 0); text-decoration: none;
}
.first-page:hover {
	background-position: -137px 0px; color: rgb(255, 102, 94); text-decoration: none; background-image: url("../images/home.png"); background-repeat: no-repeat; _background-image: url(../images/home_sprite.png);
}
.out-block {
	width: 81px; height: auto; float: left; cursor: pointer;
}
.navi-pic {
	left: 10px; top: 13px; width: 24px; height: 21px; position: absolute; z-index: 1;
}
.knowledge .navi-pic-on1 {
	background-position: -65px -15px; background-image: url("../images/bd.png"); background-repeat: no-repeat; _background-image: url(../images/bd_8bit.png);
}
.hover-div .navi-pic-on1 {
	background-position: -19px -99px; background-image: url("../images/bd.png"); background-repeat: no-repeat; _background-image: url(../images/bd_8bit.png);
}
.knowledge-block {
	border: 1px solid rgb(184, 184, 184); border-image: none; left: -1px; top: 46px; width: 400px; height: 180px; padding-top: 4px; position: absolute; z-index: 2; background-color: rgb(255, 255, 255);
}
.community .navi-pic-on2 {
	background-position: -118px -16px; background-image: url("../images/bd.png"); background-repeat: no-repeat; _background-image: url(../images/bd_8bit.png);
}
.hover-div .navi-pic-on2 {
	background-position: -21px -130px; background-image: url("../images/bd.png"); background-repeat: no-repeat; _background-image: url(../images/bd_8bit.png);
}
.community-block {
	border: 1px solid rgb(184, 184, 184); border-image: none; left: -1px; top: 46px; width: 491px; height: 146px; padding-top: 4px; position: absolute; z-index: 2; background-color: rgb(255, 255, 255);
}
.record .navi-pic-on3 {
	background-position: -165px -19px; background-image: url("../images/bd.png"); background-repeat: no-repeat; _background-image: url(../images/bd_8bit.png);
}
.hover-div .navi-pic-on3 {
	background-position: -203px -68px; background-image: url("../images/bd.png"); background-repeat: no-repeat; _background-image: url(../images/bd_8bit.png);
}
.record-block {
	border: 1px solid rgb(184, 184, 184); border-image: none; left: -1px; top: 46px; width: 340px; height: 146px; padding-top: 4px; position: absolute; z-index: 2; background-color: rgb(255, 255, 255);
}
.discovery .navi-pic-on4 {
	background-position: -205px -37px; background-image: url("../images/bd.png"); background-repeat: no-repeat; _background-image: url(../images/bd_8bit.png);
}
.hover-div .navi-pic-on4 {
	background-position: -202px -103px; background-image: url("../images/bd.png"); background-repeat: no-repeat; _background-image: url(../images/bd_8bit.png);
}
.discovery-block {
	border: 1px solid rgb(184, 184, 184); border-image: none; left: -1px; top: 41px; width: 491px; height: 146px; padding-top: 4px; position: absolute; z-index: 2; background-color: rgb(255, 255, 255);
}
.phoneVersion {
	background-position: -187px 14px; width: 48px; height: 30px; text-align: center; line-height: 19px; padding-top: 16px; padding-right: 11px; padding-left: 29px; font-family: "Microsoft YaHei"; font-size: 14px; float: left; display: block; position: relative; background-image: url("../images/bd.png"); background-repeat: no-repeat; _background-image: url(../images/bd_8bit.png);
}
.phoneVersion:link {
	color: rgb(0, 0, 0); text-decoration: none;
}
.phoneVersion:visited {
	color: rgb(0, 0, 0); text-decoration: none;
}
.phoneVersion:hover {
	background-position: -129px -156px; color: rgb(255, 102, 94); text-decoration: none; background-image: url("../images/bd.png"); background-repeat: no-repeat; _background-image: url(../images/bd_8bit.png);
}
.block-con {
	height: auto; font-size: 14px; margin-top: 20px; margin-left: 36px; display: block;
}
.line-title {
	width: 42px; color: rgb(160, 160, 160); font-family: "Microsoft YaHei"; font-size: 14px; border-right-color: rgb(153, 153, 153); border-right-width: 1px; border-right-style: solid; float: left;
}
.line-title a {
	color: rgb(160, 160, 160); text-decoration: none;
}
.line-con {
	float: left; display: inline;
}
.line-con a {
	color: rgb(0, 0, 0); font-family: "Microsoft YaHei"; font-size: 14px; text-decoration: none; margin-left: 18px; float: left;
}
.navi-right {
	float: right; position: relative; _display: inline;
}
.link-icon-style {
	width: 22px; height: 22px; margin-top: 8px; margin-right: 6px; float: right; display: block; cursor: pointer;
}
.weibo-sina {
	background-position: -39px -169px; position: relative; background-image: url("../images/bd.png"); background-repeat: no-repeat; _background-image: url(../images/bd_8bit.png);
}
.qq {
	background-position: -11px -169px; background-image: url("../images/bd.png"); background-repeat: no-repeat; _background-image: url(../images/bd_8bit.png);
}
a.re-lo-style {
	height: 22px; color: rgb(0, 0, 0); line-height: 22px; font-family: "Microsoft YaHei"; font-size: 14px; margin-top: 8px; margin-right: 22px; float: right; display: block;
}
.user-login-in {
	width: 96px; height: 45px; float: right;
}
.mail-remind {
	width: 42px; height: 46px; float: right; position: relative;
}
.mail-box {
	background: rgb(255, 255, 255); border: 1px solid rgb(184, 184, 184); border-image: none; top: 46px; width: 134px; height: 66px; right: -1px; font-size: 14px; display: none; position: absolute; z-index: 4;
}
.mail-box div {
	width: 106px; height: 25px; line-height: 25px; margin-left: 15px;
}
.mail-box div.mail-f {
	margin-top: 8px; border-bottom-color: rgb(184, 184, 184); border-bottom-width: 1px; border-bottom-style: solid;
}
.mail-box div a {
	font-size: 14px; text-decoration: none; display: inline-block;
}
.mail-box div a.inside_info {
	width: 50px; color: rgb(51, 51, 51); margin-left: 6px;
}
.mail-box div a.new_num {
	width: 20px; color: rgb(247, 103, 106); margin-left: 25px;
}
.mail-hover {
	border-right-color: rgb(184, 184, 184); border-left-color: rgb(184, 184, 184); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; background-color: rgb(255, 255, 255);
}
.reminder-icon {
	background: url("../images/mail-reminder.png") no-repeat 0px 0px; left: 7px; top: 23px; width: 16px; height: 11px; font-size: 0px; display: block; position: absolute; z-index: 1; cursor: pointer; _background: 0;
}
.mail-number {
	border-radius: 3px; top: 18px; height: 13px; text-align: center; right: 6px; color: rgb(255, 255, 255); line-height: 13px; padding-right: 3px; padding-left: 3px; font-family: serif; font-size: 12px; position: absolute; z-index: 2; background-color: rgb(247, 103, 106); -moz-border-radius: 3px; -webkit-border-radius: 3px; behavior: url(ie-css3.htc);
}
.user-head {
	width: 50px; height: 46px; float: left; display: inline; position: relative; z-index: 3;
}
.user-head-pic {
	left: 12px; top: 17px; width: 23px; height: 22px; position: absolute;
}
.user-back {
	background: url("../images/user-back.png") no-repeat 0px 0px; width: 5px; height: 5px; right: 5px; bottom: 7px; position: absolute; _background: 0;
}
.hover-r {
	border-right-color: rgb(184, 184, 184); border-left-color: rgb(184, 184, 184); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; background-color: rgb(255, 255, 255);
}
.hover-r .user-back {
	right: 6px;
}
.hover-r .user-head-pic {
	left: 11px;
}
.user-block {
	border: 1px solid rgb(184, 184, 184); border-image: none; top: 46px; width: 205px; height: 151px; right: -1px; padding-top: 4px; position: absolute; z-index: 4; background-color: rgb(255, 255, 255);
}
a.user-item {
	width: 56px; height: 16px; color: rgb(0, 0, 0); line-height: 16px; padding-left: 20px; font-family: "Microsoft YaHei"; font-size: 14px; margin-top: 24px; margin-left: 13px; float: left; display: inline; position: relative;
}
.icon {
	left: 0px; top: 0px; width: 16px; height: 16px; display: block; position: absolute;
}
.article_z {
	background-position: -86px -62px; background-image: url("../images/bd.png"); background-repeat: no-repeat; _background-image: url(../images/bd_8bit.png);
}
.hover-u .article_z {
	background-position: -55px -61px; background-image: url("../images/bd.png"); background-repeat: no-repeat; _background-image: url(../images/bd_8bit.png);
}
.user {
	background-position: -114px -61px; background-image: url("../images/bd.png"); background-repeat: no-repeat; _background-image: url(../images/bd_8bit.png);
}
.hover-u .user {
	background-position: -148px -62px; background-image: url("../images/bd.png"); background-repeat: no-repeat; _background-image: url(../images/bd_8bit.png);
}
.mail {
	background-position: -86px -97px; background-image: url("../images/bd.png"); background-repeat: no-repeat; _background-image: url(../images/bd_8bit.png);
}
.hover-u .mail {
	background-position: -57px -100px; background-image: url("../images/bd.png"); background-repeat: no-repeat; _background-image: url(../images/bd_8bit.png);
}
.system-news {
	background-position: -113px -96px; background-image: url("../images/bd.png"); background-repeat: no-repeat; _background-image: url(../images/bd_8bit.png);
}
.hover-u .system-news {
	background-position: -147px -97px; background-image: url("../images/bd.png"); background-repeat: no-repeat; _background-image: url(../images/bd_8bit.png);
}
.star {
	background-position: -88px -135px; background-image: url("../images/bd.png"); background-repeat: no-repeat; _background-image: url(../images/bd_8bit.png);
}
.hover-u .star {
	background-position: -56px -136px; background-image: url("../images/bd.png"); background-repeat: no-repeat; _background-image: url(../images/bd_8bit.png);
}
.login-out {
	background-position: -115px -135px; background-image: url("../images/bd.png"); background-repeat: no-repeat; _background-image: url(../images/bd_8bit.png);
}
.hover-u .login-out {
	background-position: -149px -136px; background-image: url("../images/bd.png"); background-repeat: no-repeat; _background-image: url(../images/bd_8bit.png);
}
#marqueeBox {
	width: 155px; overflow: hidden;
}
.inside {
	border-width: 1px 0px 1px 1px; border-style: solid none solid solid; border-color: rgb(228, 228, 228) currentColor rgb(228, 228, 228) rgb(228, 228, 228); border-image: none; width: 272px; height: 28px; overflow: hidden; float: left; _padding-bottom: 1px;
}
.outside {
	border: 1px solid rgb(228, 228, 228); border-image: none; top: 7px; right: -33px; line-height: 35px; float: left; display: inline-block; cursor: pointer;
}
.inside2 {
	border-width: 3px 0px 3px 3px; border-style: solid none solid solid; border-color: rgb(109, 189, 96) currentColor rgb(109, 189, 96) rgb(109, 189, 96); border-image: none; width: 344px; height: 40px; overflow: hidden; position: relative; _padding-bottom: 1px;
}
.outside2 {
	border: currentColor; border-image: none; top: 0px; right: 0px; line-height: 35px; display: inline-block; position: absolute; cursor: pointer; _top: 1px;
}

/*登陆按钮样式
.r_nologin_m A{
	text-decoration:none;
	font:12px Arial,Helvetica,sans-serif;
}

.r_nologin_m A:hover{
	color:#f00;
}
*/
